In [1]:
import sqlalchemy as sqla
from sqlalchemy import create_engine
import traceback
import glob
import os
from pprint import pprint
import simplejson as json
import requests
from IPython.display import display

In [2]:
URI = "dbbikes.cfjfzkae45jy.eu-west-1.rds.amazonaws.com"
PORT="3306"
DB="dbbikes"
USER="admin"
PASSWORD = "mypassword"

In [3]:
engine = create_engine("mysql+mysqldb://{}:{}@{}:{}/{}".format(USER, PASSWORD, URI, PORT, DB), echo=True)

In [4]:
sql = """
CREATE DATABASE IF NOT EXISTS dbbikes;
"""

engine.execute(sql)

2023-02-27 19:51:39,099 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2023-02-27 19:51:39,101 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-02-27 19:51:39,137 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2023-02-27 19:51:39,138 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-02-27 19:51:39,157 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2023-02-27 19:51:39,158 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-02-27 19:51:39,200 INFO sqlalchemy.engine.Engine
CREATE DATABASE IF NOT EXISTS dbbikes;

2023-02-27 19:51:39,201 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-02-27 19:51:39,230 INFO sqlalchemy.engine.Engine COMMIT

## Checking if the connection has been established by running a simple SQL code.

In [5]:
for res in engine.execute("SHOW VARIABLES;"):
    print(res)

2023-02-27 19:51:41,285 INFO sqlalchemy.engine.Engine SHOW VARIABLES;
2023-02-27 19:51:41,286 INFO sqlalchemy.engine.Engine [raw sql] ()
('activate_all_roles_on_login', 'OFF')
('admin_address', '')
('admin_port', '33062')
('admin_ssl_ca', '')
('admin_ssl_capath', '')
('admin_ssl_cert', '')
('admin_ssl_cipher', '')
('admin_ssl_crl', '')
('admin_ssl_crlpath', '')
('admin_ssl_key', '')
('admin_tls_ciphersuites', '')
('admin_tls_version', 'TLSv1.2,TLSv1.3')
('authentication_policy', '*')
('auto_generate_certs', 'ON')
('auto_increment_increment', '1')
('auto_increment_offset', '1')
('autocommit', 'OFF')
('automatic_sp_privileges', 'ON')
('avoid_temporal_upgrade', 'OFF')
('back_log', '61')
('basedir', '/rdsdbbin/mysql-8.0.28.R4/')
('big_tables', 'OFF')
('bind_address', '*')
('binlog_cache_size', '32768')
('binlog_checksum', 'CRC32')
('binlog_direct_non_transactional_updates', 'OFF')
('binlog_encryption', 'OFF')
('binlog_error_action', 'ABORT_SERVER')
('binlog_expire_logs_seconds', '2592000')
('binlog_format', 'MIXED')
('binlog_group_commit_sync_delay', '0')
('binlog_group_commit_sync_no_delay_count', '0')
('binlog_gtid_simple_recovery', 'ON')
('binlog_max_flush_queue_time', '0')
('binlog_order_commits', 'ON')
('binlog_rotate_encryption_master_key_at_startup', 'OFF')
('binlog_row_event_max_size', '8192')
('binlog_row_image', 'FULL')
('binlog_row_metadata', 'MINIMAL')
('binlog_row_value_options', '')
('binlog_rows_query_log_events', 'OFF')
('binlog_stmt_cache_size', '32768')
('binlog_transaction_compression', 'OFF')
('binlog_transaction_compression_level_zstd', '3')
('binlog_transaction_dependency_history_size', '25000')
('binlog_transaction_dependency_tracking', 'COMMIT_ORDER')
('block_encryption_mode', 'aes-128-ecb')
('bulk_insert_buffer_size', '8388608')
('caching_sha2_password_auto_generate_rsa_keys', 'ON')
('caching_sha2_password_digest_rounds', '5000')
('caching_sha2_password_private_key_path', 'private_key.pem')
('caching_sha2_password_public_key_path', 'public_key.pem')
('character_set_client', 'latin1')
('character_set_connection', 'latin1')
('character_set_database', 'utf8mb4')
('character_set_filesystem', 'binary')
('character_set_results', 'latin1')
('character_set_server', 'utf8mb4')
('character_set_system', 'utf8mb3')
('character_sets_dir', '/rdsdbbin/mysql-8.0.28.R4/share/charsets/')
('check_proxy_users', 'OFF')
('collation_connection', 'latin1_swedish_ci')
('collation_database', 'utf8mb4_0900_ai_ci')
('collation_server', 'utf8mb4_0900_ai_ci')
('completion_type', 'NO_CHAIN')
('concurrent_insert', 'AUTO')
('connect_timeout', '10')
('connection_memory_chunk_size', '8912')
('connection_memory_limit', '18446744073709551615')
('core_file', 'OFF')
('create_admin_listener_thread', 'OFF')
('cte_max_recursion_depth', '1000')
('datadir', '/rdsdbdata/db/')
('default_authentication_plugin', 'mysql_native_password')
('default_collation_for_utf8mb4', 'utf8mb4_0900_ai_ci')
('default_password_lifetime', '0')
('default_storage_engine', 'InnoDB')
('default_table_encryption', 'OFF')
('default_tmp_storage_engine', 'InnoDB')
('default_week_format', '0')
('delay_key_write', 'ON')
('delayed_insert_limit', '100')
('delayed_insert_timeout', '300')
('delayed_queue_size', '1000')
('disabled_storage_engines', '')
('disconnect_on_expired_password', 'ON')
('div_precision_increment', '4')
('end_markers_in_json', 'OFF')
('enforce_gtid_consistency', 'OFF')
('eq_range_index_dive_limit', '200')
('error_count', '0')
('event_scheduler', 'ON')
('expire_logs_days', '0')
('explicit_defaults_for_timestamp', 'ON')
('external_user', '')
('flush', 'OFF')
('flush_time', '0')
('foreign_key_checks', 'ON')
('ft_boolean_syntax', '+ -><()~*:""&|')
('ft_max_word_len', '84')
('ft_min_word_len', '4')
('ft_query_expansion_limit', '20')
('ft_stopword_file', '(built-in)')
('general_log', 'OFF')
('general_log_file', '/rdsdbdata/log/general/mysql-general.log')
('generated_random_password_length', '20')
('global_connection_memory_limit', '18446744073709551615')
('global_connection_memory_tracking', 'OFF')
('group_concat_max_len', '1024')
('group_replication_consistency', 'EVENTUAL')
('gtid_executed', '')
('gtid_executed_compression_period', '0')
('gtid_mode', 'OFF_PERMISSIVE')
('gtid_next', 'AUTOMATIC')
('gtid_owned', '')
('gtid_purged', '')
('have_compress', 'YES')
('have_dynamic_loading', 'YES')
('have_geometry', 'YES')
('have_openssl', 'YES')
('have_profiling', 'YES')
('have_query_cache', 'NO')
('have_rtree_keys', 'YES')
('have_ssl', 'YES')
('have_statement_timeout', 'YES')
('have_symlink', 'DISABLED')
('histogram_generation_max_mem_size', '20000000')
('host_cache_size', '189')
('hostname', 'ip-10-4-1-195')
('identity', '0')
('immediate_server_version', '999999')
('information_schema_stats_expiry', '86400')
('init_connect', '')
('init_file', '')
('init_replica', '')
('init_slave', '')
('innodb_adaptive_flushing', 'ON')
('innodb_adaptive_flushing_lwm', '10')
('innodb_adaptive_hash_index', 'ON')
('innodb_adaptive_hash_index_parts', '8')
('innodb_adaptive_max_sleep_delay', '150000')
('innodb_api_bk_commit_interval', '5')
('innodb_api_disable_rowlock', 'OFF')
('innodb_api_enable_binlog', 'OFF')
('innodb_api_enable_mdl', 'OFF')
('innodb_api_trx_level', '0')
('innodb_autoextend_increment', '64')
('innodb_autoinc_lock_mode', '2')
('innodb_buffer_pool_chunk_size', '134217728')
('innodb_buffer_pool_dump_at_shutdown', 'ON')
('innodb_buffer_pool_dump_now', 'OFF')
('innodb_buffer_pool_dump_pct', '25')
('innodb_buffer_pool_filename', 'ib_buffer_pool')
('innodb_buffer_pool_in_core_file', 'ON')
('innodb_buffer_pool_instances', '1')
('innodb_buffer_pool_load_abort', 'OFF')
('innodb_buffer_pool_load_at_startup', 'ON')
('innodb_buffer_pool_load_now', 'OFF')
('innodb_buffer_pool_size', '268435456')
('innodb_change_buffer_max_size', '25')
('innodb_change_buffering', 'all')
('innodb_checksum_algorithm', 'crc32')
('innodb_cmp_per_index_enabled', 'OFF')
('innodb_commit_concurrency', '0')
('innodb_compression_failure_threshold_pct', '5')
('innodb_compression_level', '6')
('innodb_compression_pad_pct_max', '50')
('innodb_concurrency_tickets', '5000')
('innodb_data_file_path', 'ibdata1:12M:autoextend')
('innodb_data_home_dir', '/rdsdbdata/db/innodb')
('innodb_ddl_buffer_size', '1048576')
('innodb_ddl_threads', '4')
('innodb_deadlock_detect', 'ON')
('innodb_dedicated_server', 'OFF')
('innodb_default_row_format', 'dynamic')
('innodb_directories', '')
('innodb_disable_sort_file_cache', 'OFF')
('innodb_doublewrite', 'ON')
('innodb_doublewrite_batch_size', '16')
('innodb_doublewrite_dir', '')
('innodb_doublewrite_files', '2')
('innodb_doublewrite_pages', '32')
('innodb_extend_and_initialize', 'ON')
('innodb_fast_shutdown', '1')
('innodb_file_per_table', 'ON')
('innodb_fill_factor', '100')
('innodb_flush_log_at_timeout', '1')
('innodb_flush_log_at_trx_commit', '1')
('innodb_flush_method', 'O_DIRECT')
('innodb_flush_neighbors', '0')
('innodb_flush_sync', 'ON')
('innodb_flushing_avg_loops', '30')
('innodb_force_load_corrupted', 'OFF')
('innodb_force_recovery', '0')
('innodb_fsync_threshold', '0')
('innodb_ft_aux_table', '')
('innodb_ft_cache_size', '8000000')
('innodb_ft_enable_diag_print', 'OFF')
('innodb_ft_enable_stopword', 'ON')
('innodb_ft_max_token_size', '84')
('innodb_ft_min_token_size', '3')
('innodb_ft_num_word_optimize', '2000')
('innodb_ft_result_cache_limit', '2000000000')
('innodb_ft_server_stopword_table', '')
('innodb_ft_sort_pll_degree', '2')
('innodb_ft_total_cache_size', '640000000')
('innodb_ft_user_stopword_table', '')
('innodb_idle_flush_pct', '100')
('innodb_io_capacity', '200')
('innodb_io_capacity_max', '2000')
('innodb_lock_wait_timeout', '50')
('innodb_log_buffer_size', '8388608')
('innodb_log_checksums', 'ON')
('innodb_log_compressed_pages', 'ON')
('innodb_log_file_size', '134217728')
('innodb_log_files_in_group', '2')
('innodb_log_group_home_dir', '/rdsdbdata/log/innodb')
('innodb_log_spin_cpu_abs_lwm', '80')
('innodb_log_spin_cpu_pct_hwm', '50')
('innodb_log_wait_for_flush_spin_hwm', '400')
('innodb_log_write_ahead_size', '8192')
('innodb_log_writer_threads', 'ON')
('innodb_lru_scan_depth', '1024')
('innodb_max_dirty_pages_pct', '90.000000')
('innodb_max_dirty_pages_pct_lwm', '10.000000')
('innodb_max_purge_lag', '0')
('innodb_max_purge_lag_delay', '0')
('innodb_max_undo_log_size', '1073741824')
('innodb_monitor_disable', '')
('innodb_monitor_enable', '')
('innodb_monitor_reset', '')
('innodb_monitor_reset_all', '')
('innodb_numa_interleave', 'OFF')
('innodb_old_blocks_pct', '37')
('innodb_old_blocks_time', '1000')
('innodb_online_alter_log_max_size', '134217728')
('innodb_open_files', '4000')
('innodb_optimize_fulltext_only', 'OFF')
('innodb_page_cleaners', '1')
('innodb_page_size', '16384')
('innodb_parallel_read_threads', '4')
('innodb_print_all_deadlocks', 'OFF')
('innodb_print_ddl_logs', 'OFF')
('innodb_purge_batch_size', '300')
('innodb_purge_rseg_truncate_frequency', '128')
('innodb_purge_threads', '1')
('innodb_random_read_ahead', 'OFF')
('innodb_read_ahead_threshold', '56')
('innodb_read_io_threads', '4')
('innodb_read_only', 'OFF')
('innodb_redo_log_archive_dirs', '')
('innodb_redo_log_encrypt', 'OFF')
('innodb_replication_delay', '0')
('innodb_rollback_on_timeout', 'OFF')
('innodb_rollback_segments', '128')
('innodb_segment_reserve_factor', '12.500000')
('innodb_sort_buffer_size', '1048576')
('innodb_spin_wait_delay', '6')
('innodb_spin_wait_pause_multiplier', '50')
('innodb_stats_auto_recalc', 'ON')
('innodb_stats_include_delete_marked', 'OFF')
('innodb_stats_method', 'nulls_equal')
('innodb_stats_on_metadata', 'OFF')
('innodb_stats_persistent', 'ON')
('innodb_stats_persistent_sample_pages', '20')
('innodb_stats_transient_sample_pages', '8')
('innodb_status_output', 'OFF')
('innodb_status_output_locks', 'OFF')
('innodb_strict_mode', 'ON')
('innodb_sync_array_size', '1')
('innodb_sync_spin_loops', '30')
('innodb_table_locks', 'ON')
('innodb_temp_data_file_path', 'ibtmp1:12M:autoextend')
('innodb_temp_tablespaces_dir', './#innodb_temp/')
('innodb_thread_concurrency', '0')
('innodb_thread_sleep_delay', '10000')
('innodb_tmpdir', '')
('innodb_undo_directory', './')
('innodb_undo_log_encrypt', 'OFF')
('innodb_undo_log_truncate', 'ON')
('innodb_undo_tablespaces', '2')
('innodb_use_fdatasync', 'OFF')
('innodb_use_native_aio', 'ON')
('innodb_validate_tablespace_paths', 'ON')
('innodb_version', '8.0.28')
('innodb_write_io_threads', '4')
('insert_id', '0')
('interactive_timeout', '28800')
('internal_tmp_mem_storage_engine', 'TempTable')
('join_buffer_size', '262144')
('keep_files_on_create', 'OFF')
('key_buffer_size', '16777216')
('key_cache_age_threshold', '300')
('key_cache_block_size', '1024')
('key_cache_division_limit', '100')
('keyring_operations', 'ON')
('large_files_support', 'ON')
('large_page_size', '0')
('large_pages', 'OFF')
('last_insert_id', '0')
('lc_messages', 'en_US')
('lc_messages_dir', '/rdsdbbin/mysql-8.0.28.R4/share/')
('lc_time_names', 'en_US')
('license', 'GPL')
('local_infile', 'ON')
('lock_wait_timeout', '31536000')
('locked_in_memory', 'OFF')
('log_bin', 'ON')
('log_bin_basename', '/rdsdbdata/log/binlog/mysql-bin-changelog')
('log_bin_index', '/rdsdbdata/log/binlog/mysql-bin-changelog.index')
('log_bin_trust_function_creators', 'OFF')
('log_bin_use_v1_row_events', 'OFF')
('log_error', '/rdsdbdata/log/error/mysql-error.log')
('log_error_services', 'log_filter_internal; log_sink_internal')
('log_error_suppression_list', '')
('log_error_verbosity', '2')
('log_output', 'TABLE')
('log_queries_not_using_indexes', 'OFF')
('log_raw', 'OFF')
('log_replica_updates', 'ON')
('log_slave_updates', 'ON')
('log_slow_admin_statements', 'OFF')
('log_slow_extra', 'OFF')
('log_slow_replica_statements', 'OFF')
('log_slow_slave_statements', 'OFF')
('log_statements_unsafe_for_binlog', 'OFF')
('log_throttle_queries_not_using_indexes', '0')
('log_timestamps', 'UTC')
('long_query_time', '10.000000')
('low_priority_updates', 'OFF')
('lower_case_file_system', 'OFF')
('lower_case_table_names', '0')
('mandatory_roles', '')
('master_info_repository', 'TABLE')
('master_verify_checksum', 'OFF')
('max_allowed_packet', '67108864')
('max_binlog_cache_size', '18446744073709547520')
('max_binlog_size', '134217728')
('max_binlog_stmt_cache_size', '18446744073709547520')
('max_connect_errors', '100')
('max_connections', '61')
('max_delayed_threads', '20')
('max_digest_length', '1024')
('max_error_count', '1024')
('max_execution_time', '0')
('max_heap_table_size', '16777216')
('max_insert_delayed_threads', '20')
('max_join_size', '18446744073709551615')
('max_length_for_sort_data', '4096')
('max_points_in_geometry', '65536')
('max_prepared_stmt_count', '16382')
('max_relay_log_size', '0')
('max_seeks_for_key', '18446744073709551615')
('max_sort_length', '1024')
('max_sp_recursion_depth', '0')
('max_user_connections', '0')
('max_write_lock_count', '18446744073709551615')
('min_examined_row_limit', '0')
('myisam_data_pointer_size', '6')
('myisam_max_sort_file_size', '9223372036853727232')
('myisam_mmap_size', '18446744073709551615')
('myisam_recover_options', 'OFF')
('myisam_repair_threads', '1')
('myisam_sort_buffer_size', '8388608')
('myisam_stats_method', 'nulls_unequal')
('myisam_use_mmap', 'OFF')
('mysql_native_password_proxy_users', 'OFF')
('net_buffer_length', '16384')
('net_read_timeout', '30')
('net_retry_count', '10')
('net_write_timeout', '60')
('new', 'OFF')
('ngram_token_size', '2')
('offline_mode', 'OFF')
('old', 'OFF')
('old_alter_table', 'OFF')
('open_files_limit', '1048576')
('optimizer_prune_level', '1')
('optimizer_search_depth', '62')
('optimizer_switch', 'index_merge=on,index_merge_union=on,index_merge_sort_union=on,index_merge_intersection=on,engine_condition_pushdown=on,index_condition_pushdown=on,mr ... (258 characters truncated) ... visible_indexes=off,skip_scan=on,hash_join=on,subquery_to_derived=off,prefer_ordering_index=on,hypergraph_optimizer=off,derived_condition_pushdown=on')
('optimizer_trace', 'enabled=off,one_line=off')
('optimizer_trace_features', 'greedy_search=on,range_optimizer=on,dynamic_range=on,repeated_subselect=on')
('optimizer_trace_limit', '1')
('optimizer_trace_max_mem_size', '1048576')
('optimizer_trace_offset', '-1')
('original_commit_timestamp', '36028797018963968')
('original_server_version', '999999')
('parser_max_mem_size', '18446744073709551615')
('partial_revokes', 'OFF')
('password_history', '0')
('password_require_current', 'OFF')
('password_reuse_interval', '0')
('performance_schema', 'OFF')
('performance_schema_accounts_size', '0')
('performance_schema_digests_size', '0')
('performance_schema_error_size', '0')
('performance_schema_events_stages_history_long_size', '0')
('performance_schema_events_stages_history_size', '0')
('performance_schema_events_statements_history_long_size', '0')
('performance_schema_events_statements_history_size', '0')
('performance_schema_events_transactions_history_long_size', '0')
('performance_schema_events_transactions_history_size', '0')
('performance_schema_events_waits_history_long_size', '0')
('performance_schema_events_waits_history_size', '0')
('performance_schema_hosts_size', '0')
('performance_schema_max_cond_classes', '0')
('performance_schema_max_cond_instances', '0')
('performance_schema_max_digest_length', '0')
('performance_schema_max_digest_sample_age', '60')
('performance_schema_max_file_classes', '0')
('performance_schema_max_file_handles', '0')
('performance_schema_max_file_instances', '0')
('performance_schema_max_index_stat', '0')
('performance_schema_max_memory_classes', '0')
('performance_schema_max_metadata_locks', '0')
('performance_schema_max_mutex_classes', '0')
('performance_schema_max_mutex_instances', '0')
('performance_schema_max_prepared_statements_instances', '0')
('performance_schema_max_program_instances', '0')
('performance_schema_max_rwlock_classes', '0')
('performance_schema_max_rwlock_instances', '0')
('performance_schema_max_socket_classes', '0')
('performance_schema_max_socket_instances', '0')
('performance_schema_max_sql_text_length', '0')
('performance_schema_max_stage_classes', '0')
('performance_schema_max_statement_classes', '0')
('performance_schema_max_statement_stack', '0')
('performance_schema_max_table_handles', '0')
('performance_schema_max_table_instances', '0')
('performance_schema_max_table_lock_stat', '0')
('performance_schema_max_thread_classes', '0')
('performance_schema_max_thread_instances', '0')
('performance_schema_session_connect_attrs_size', '0')
('performance_schema_setup_actors_size', '0')
('performance_schema_setup_objects_size', '0')
('performance_schema_show_processlist', 'OFF')
('performance_schema_users_size', '0')
('persist_only_admin_x509_subject', '')
('persisted_globals_load', 'OFF')
('pid_file', '/rdsdbdata/log/mysql-3306.pid')
('plugin_dir', '/rdsdbbin/mysql-8.0.28.R4/lib/plugin/')
('port', '3306')
('preload_buffer_size', '32768')
('print_identified_with_as_hex', 'OFF')
('profiling', 'OFF')
('profiling_history_size', '15')
('protocol_compression_algorithms', 'zlib,zstd,uncompressed')
('protocol_version', '10')
('proxy_user', '')
('pseudo_replica_mode', 'OFF')
('pseudo_slave_mode', 'OFF')
('pseudo_thread_id', '1806')
('query_alloc_block_size', '8192')
('query_prealloc_size', '8192')
('rand_seed1', '0')
('rand_seed2', '0')
('range_alloc_block_size', '4096')
('range_optimizer_max_mem_size', '8388608')
('rbr_exec_mode', 'STRICT')
('read_buffer_size', '262144')
('read_only', 'OFF')
('read_rnd_buffer_size', '524288')
('regexp_stack_limit', '8000000')
('regexp_time_limit', '32')
('relay_log', '/rdsdbdata/log/relaylog/relaylog')
('relay_log_basename', '/rdsdbdata/log/relaylog/relaylog')
('relay_log_index', '/rdsdbdata/log/relaylog/relaylog.index')
('relay_log_info_file', 'relay-log.info')
('relay_log_info_repository', 'TABLE')
('relay_log_purge', 'ON')
('relay_log_recovery', 'ON')
('relay_log_space_limit', '0')
('replica_allow_batching', 'OFF')
('replica_checkpoint_group', '512')
('replica_checkpoint_period', '300')
('replica_compressed_protocol', 'OFF')
('replica_exec_mode', 'IDEMPOTENT')
('replica_load_tmpdir', '/rdsdbdata/tmp')
('replica_max_allowed_packet', '1073741824')
('replica_net_timeout', '60')
('replica_parallel_type', 'LOGICAL_CLOCK')
('replica_parallel_workers', '4')
('replica_pending_jobs_size_max', '134217728')
('replica_preserve_commit_order', 'ON')
('replica_skip_errors', 'OFF')
('replica_sql_verify_checksum', 'ON')
('replica_transaction_retries', '10')
('replica_type_conversions', '')
('replication_optimize_for_static_plugin_config', 'OFF')
('replication_sender_observe_commit_only', 'OFF')
('report_host', '')
('report_password', '')
('report_port', '3306')
('report_user', '')
('require_row_format', 'OFF')
('require_secure_transport', 'OFF')
('resultset_metadata', 'FULL')
('rpl_read_size', '8192')
('rpl_stop_replica_timeout', '31536000')
('rpl_stop_slave_timeout', '31536000')
('schema_definition_cache', '256')
('secondary_engine_cost_threshold', '100000.000000')
('secure_file_priv', '/secure_file_priv_dir/')
('select_into_buffer_size', '131072')
('select_into_disk_sync', 'OFF')
('select_into_disk_sync_delay', '0')
('server_id', '1964770650')
('server_id_bits', '32')
('server_uuid', 'd47abd5f-b1d5-11ed-9425-0255764c1d4b')
('session_track_gtids', 'OFF')
('session_track_schema', 'ON')
('session_track_state_change', 'OFF')
('session_track_system_variables', 'time_zone,autocommit,character_set_client,character_set_results,character_set_connection')
('session_track_transaction_info', 'OFF')
('sha256_password_auto_generate_rsa_keys', 'ON')
('sha256_password_private_key_path', 'private_key.pem')
('sha256_password_proxy_users', 'OFF')
('sha256_password_public_key_path', 'public_key.pem')
('show_create_table_skip_secondary_engine', 'OFF')
('show_create_table_verbosity', 'OFF')
('show_old_temporals', 'OFF')
('skip_external_locking', 'ON')
('skip_name_resolve', 'OFF')
('skip_networking', 'OFF')
('skip_replica_start', 'ON')
('skip_show_database', 'OFF')
('skip_slave_start', 'ON')
('slave_allow_batching', 'OFF')

In [6]:
sql = """
CREATE TABLE IF NOT EXISTS station (
address VARCHAR(256),
banking INTEGER,
bike_stands INTEGER,
bonus INTEGER,
contract_name VARCHAR(256),
name VARCHAR(256),
number INTEGER,
position_lat REAL,
position_lng REAL,
status VARCHAR(256)
)
"""

try:
    res = engine.execute("DROP TABLE IF EXISTS station")
    res = engine.execute(sql)
    print(res.fetchall())
except Exception as e:
    print(e)

2023-02-27 19:51:43,796 INFO sqlalchemy.engine.Engine DROP TABLE IF EXISTS station
2023-02-27 19:51:43,797 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-02-27 19:51:43,873 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 19:51:43,911 INFO sqlalchemy.engine.Engine
CREATE TABLE IF NOT EXISTS station (
address VARCHAR(256),
banking INTEGER,
bike_stands INTEGER,
bonus INTEGER,
contract_name VARCHAR(256),
name VARCHAR(256),
number INTEGER,
position_lat REAL,
position_lng REAL,
status VARCHAR(256)
)

2023-02-27 19:51:43,912 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-02-27 19:51:43,996 INFO sqlalchemy.engine.Engine COMMIT
This result object does not return rows. It has been closed automatically.

A 'station' table was successfully created. Note that 'banking' and 'bonus' columns should really take boolean values, however, SQL doesn't have boolean data type, so I went with INT, where 0 is 'no' and 1 is 'yes'. In the scraped JSON, these values are expressed as boolean.

In [7]:
sql = """
CREATE TABLE IF NOT EXISTS availability(
number INTEGER,
available_bikes INTEGER,
available_bike_stands INTEGER,
last_update INTEGER
)
"""

try:
    res = engine.execute("DROP TABLE IF EXISTS availability")
    res = engine.execute(sql)
    print(res.fetchall())
except Exception as e:
    print(e)

2023-02-27 19:51:45,407 INFO sqlalchemy.engine.Engine DROP TABLE IF EXISTS availability
2023-02-27 19:51:45,408 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-02-27 19:51:45,452 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 19:51:45,496 INFO sqlalchemy.engine.Engine
CREATE TABLE IF NOT EXISTS availability(
number INTEGER,
available_bikes INTEGER,
available_bike_stands INTEGER,
last_update INTEGER
)

2023-02-27 19:51:45,497 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-02-27 19:51:45,542 INFO sqlalchemy.engine.Engine COMMIT
This result object does not return rows. It has been closed automatically.

In [8]:
# #!/usr/bin/env python

# APIKEY = "a471198f1d4a279171da8f17892b64eb12c32f33"
# NAME = "Dublin"
# STATIONS = "https://api.jcdecaux.com/vls/v1/stations"

# # api_key = 'a471198f1d4a279171da8f17892b64eb12c32f33'
# # contract_name = 'dublin'
# # api_query = 'https://api.jcdecaux.com/vls/v1/stations?contract=dublin&apiKey=a471198f1d4a279171da8f17892b64eb12c32f33'


# # def write_to_file(text):
# #     with open("data/bikes_{}".format(now).replace(" ", "_"), "w") as f:
# #         f.write(r.text)
        
# # def write_to_db(text): #?????
 
    
# def main():
#     while True:
#         try:
#             now = datetime.datetime.now()
#             r = requests.get(STATIONS, params= {"apiKey": APIKEY, "contract": NAME})
#             print(r, now)
            
# #             write_to_file(r.text)
# #             write_to_db(r.text)
#             time.sleep(300)
#         except:
#             print(traceback.format_exc())
# #             if engine is None:
# #                 pass #?????
#     return
# main()

#  !IMPORTANT! 

Right now, the main( ) function only runs once. When it is pushed to EC2, it needs to be changed a bit, so that it runs non-stop.

In [9]:
api_key = 'a471198f1d4a279171da8f17892b64eb12c32f33'
contract_name = 'dublin'
api_query = 'https://api.jcdecaux.com/vls/v1/stations?contract=dublin&apiKey=a471198f1d4a279171da8f17892b64eb12c32f33'



def main():
    #while True:
    global r
    try:
        r = requests.get('https://api.jcdecaux.com/vls/v1/stations?contract=dublin&apiKey=a471198f1d4a279171da8f17892b64eb12c32f33')
        # Keep the scraped data as a variable in the code without saving it anywhere
        # with open('json_data.json', 'w') as outfile:
        #     json.dump(data, outfile)
        print(json.loads(r.text))
        
        #time.sleep(5*60) #Scrape every 5 minutes
    except:
        print("Error. Something went wrong.") 
    #return
main()

[{'number': 42, 'contract_name': 'dublin', 'name': 'SMITHFIELD NORTH', 'address': 'Smithfield North', 'position': {'lat': 53.349562, 'lng': -6.278198}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 4, 'available_bikes': 26, 'status': 'OPEN', 'last_update': 1677527192000}, {'number': 30, 'contract_name': 'dublin', 'name': 'PARNELL SQUARE NORTH', 'address': 'Parnell Square North', 'position': {'lat': 53.3537415547453, 'lng': -6.26530144781526}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 17, 'available_bikes': 3, 'status': 'OPEN', 'last_update': 1677527305000}, {'number': 54, 'contract_name': 'dublin', 'name': 'CLONMEL STREET', 'address': 'Clonmel Street', 'position': {'lat': 53.336021, 'lng': -6.26298}, 'banking': False, 'bonus': False, 'bike_stands': 33, 'available_bike_stands': 32, 'available_bikes': 1, 'status': 'OPEN', 'last_update': 1677527226000}, {'number': 108, 'contract_name': 'dublin', 'name': 'AVONDALE ROAD', 'address': 'Avondale Road', 'position': {'lat': 53.359405, 'lng': -6.276142}, 'banking': False, 'bonus': False, 'bike_stands': 35, 'available_bike_stands': 20, 'available_bikes': 15, 'status': 'OPEN', 'last_update': 1677527399000}, {'number': 20, 'contract_name': 'dublin', 'name': 'JAMES STREET EAST', 'address': 'James Street East', 'position': {'lat': 53.336597, 'lng': -6.248109}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 29, 'available_bikes': 1, 'status': 'OPEN', 'last_update': 1677527075000}, {'number': 56, 'contract_name': 'dublin', 'name': 'MOUNT STREET LOWER', 'address': 'Mount Street Lower', 'position': {'lat': 53.33796, 'lng': -6.24153}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 11, 'available_bikes': 29, 'status': 'OPEN', 'last_update': 1677527233000}, {'number': 6, 'contract_name': 'dublin', 'name': 'CHRISTCHURCH PLACE', 'address': 'Christchurch Place', 'position': {'lat': 53.343368, 'lng': -6.27012}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 10, 'available_bikes': 10, 'status': 'OPEN', 'last_update': 1677526954000}, {'number': 18, 'contract_name': 'dublin', 'name': 'GRANTHAM STREET', 'address': 'Grantham Street', 'position': {'lat': 53.334123, 'lng': -6.265436}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 16, 'available_bikes': 14, 'status': 'OPEN', 'last_update': 1677527467000}, {'number': 32, 'contract_name': 'dublin', 'name': 'PEARSE STREET', 'address': 'Pearse Street', 'position': {'lat': 53.344304, 'lng': -6.250427}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 21, 'available_bikes': 9, 'status': 'OPEN', 'last_update': 1677527410000}, {'number': 52, 'contract_name': 'dublin', 'name': 'YORK STREET EAST', 'address': 'York Street East', 'position': {'lat': 53.338755, 'lng': -6.262003}, 'banking': False, 'bonus': False, 'bike_stands': 32, 'available_bike_stands': 29, 'available_bikes': 3, 'status': 'OPEN', 'last_update': 1677527473000}, {'number': 48, 'contract_name': 'dublin', 'name': 'EXCISE WALK', 'address': 'Excise Walk', 'position': {'lat': 53.347777, 'lng': -6.244239}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 14, 'available_bikes': 26, 'status': 'OPEN', 'last_update': 1677527132000}, {'number': 13, 'contract_name': 'dublin', 'name': 'FITZWILLIAM SQUARE WEST', 'address': 'Fitzwilliam Square West', 'position': {'lat': 53.336074, 'lng': -6.252825}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 26, 'available_bikes': 4, 'status': 'OPEN', 'last_update': 1677527178000}, {'number': 43, 'contract_name': 'dublin', 'name': 'PORTOBELLO ROAD', 'address': 'Portobello Road', 'position': {'lat': 53.330091, 'lng': -6.268044}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 4, 'available_bikes': 26, 'status': 'OPEN', 'last_update': 1677527480000}, {'number': 31, 'contract_name': 'dublin', 'name': 'PARNELL STREET', 'address': 'Parnell Street', 'position': {'lat': 53.350929, 'lng': -6.265125}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 15, 'available_bikes': 5, 'status': 'OPEN', 'last_update': 1677527109000}, {'number': 98, 'contract_name': 'dublin', 'name': 'FREDERICK STREET SOUTH', 'address': 'Frederick Street South', 'position': {'lat': 53.341515, 'lng': -6.256853}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 28, 'available_bikes': 12, 'status': 'OPEN', 'last_update': 1677526946000}, {'number': 14, 'contract_name': 'dublin', 'name': 'FOWNES STREET UPPER', 'address': 'Fownes Street Upper', 'position': {'lat': 53.344603, 'lng': -6.263371}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 20, 'available_bikes': 10, 'status': 'OPEN', 'last_update': 1677527386000}, {'number': 1, 'contract_name': 'dublin', 'name': 'CLARENDON ROW', 'address': 'Clarendon Row', 'position': {'lat': 53.340927, 'lng': -6.262501}, 'banking': False, 'bonus': False, 'bike_stands': 31, 'available_bike_stands': 13, 'available_bikes': 18, 'status': 'OPEN', 'last_update': 1677527341000}, {'number': 23, 'contract_name': 'dublin', 'name': 'CUSTOM HOUSE', 'address': 'Custom House', 'position': {'lat': 53.348279, 'lng': -6.254662}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 6, 'available_bikes': 24, 'status': 'OPEN', 'last_update': 1677527121000}, {'number': 106, 'contract_name': 'dublin', 'name': 'RATHDOWN ROAD', 'address': 'Rathdown Road', 'position': {'lat': 53.35893, 'lng': -6.280337}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 23, 'available_bikes': 17, 'status': 'OPEN', 'last_update': 1677526952000}, {'number': 112, 'contract_name': 'dublin', 'name': "NORTH CIRCULAR ROAD (O'CONNELL'S)", 'address': "North Circular Road (O'Connell's)", 'position': {'lat': 53.357841, 'lng': -6.251557}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 4, 'available_bikes': 26, 'status': 'OPEN', 'last_update': 1677526995000}, {'number': 68, 'contract_name': 'dublin', 'name': 'HANOVER QUAY', 'address': 'Hanover Quay', 'position': {'lat': 53.344115, 'lng': -6.237153}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 37, 'available_bikes': 3, 'status': 'OPEN', 'last_update': 1677527372000}, {'number': 74, 'contract_name': 'dublin', 'name': 'OLIVER BOND STREET', 'address': 'Oliver Bond Street', 'position': {'lat': 53.343893, 'lng': -6.280531}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 29, 'available_bikes': 1, 'status': 'OPEN', 'last_update': 1677527211000}, {'number': 87, 'contract_name': 'dublin', 'name': 'COLLINS BARRACKS MUSEUM', 'address': 'Collins Barracks Museum', 'position': {'lat': 53.347477, 'lng': -6.28525}, 'banking': False, 'bonus': False, 'bike_stands': 38, 'available_bike_stands': 33, 'available_bikes': 5, 'status': 'OPEN', 'last_update': 1677527366000}, {'number': 84, 'contract_name': 'dublin', 'name': 'BROOKFIELD ROAD', 'address': 'Brookfield Road', 'position': {'lat': 53.339005, 'lng': -6.300217}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 27, 'available_bikes': 3, 'status': 'OPEN', 'last_update': 1677527061000}, {'number': 90, 'contract_name': 'dublin', 'name': 'BENSON STREET', 'address': 'Benson Street', 'position': {'lat': 53.344153, 'lng': -6.233451}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 37, 'available_bikes': 3, 'status': 'OPEN', 'last_update': 1677527141000}, {'number': 11, 'contract_name': 'dublin', 'name': 'EARLSFORT TERRACE', 'address': 'Earlsfort Terrace', 'position': {'lat': 53.334295, 'lng': -6.258503}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 30, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677527036000}, {'number': 17, 'contract_name': 'dublin', 'name': 'GOLDEN LANE', 'address': 'Golden Lane', 'position': {'lat': 53.340803, 'lng': -6.267732}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 17, 'available_bikes': 3, 'status': 'OPEN', 'last_update': 1677527353000}, {'number': 45, 'contract_name': 'dublin', 'name': 'DEVERELL PLACE', 'address': 'Deverell Place', 'position': {'lat': 53.351464, 'lng': -6.255265}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 20, 'available_bikes': 10, 'status': 'OPEN', 'last_update': 1677527105000}, {'number': 114, 'contract_name': 'dublin', 'name': 'WILTON TERRACE (PARK)', 'address': 'Wilton Terrace (Park)', 'position': {'lat': 53.333653, 'lng': -6.248345}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 39, 'available_bikes': 1, 'status': 'OPEN', 'last_update': 1677527311000}, {'number': 72, 'contract_name': 'dublin', 'name': 'JOHN STREET WEST', 'address': 'John Street West', 'position': {'lat': 53.343105, 'lng': -6.277167}, 'banking': False, 'bonus': False, 'bike_stands': 31, 'available_bike_stands': 30, 'available_bikes': 1, 'status': 'OPEN', 'last_update': 1677527436000}, {'number': 63, 'contract_name': 'dublin', 'name': 'FENIAN STREET', 'address': 'Fenian Street', 'position': {'lat': 53.341428, 'lng': -6.24672}, 'banking': False, 'bonus': False, 'bike_stands': 35, 'available_bike_stands': 24, 'available_bikes': 11, 'status': 'OPEN', 'last_update': 1677527404000}, {'number': 113, 'contract_name': 'dublin', 'name': 'MERRION SQUARE SOUTH', 'address': 'Merrion Square South', 'position': {'lat': 53.338614, 'lng': -6.248606}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 31, 'available_bikes': 9, 'status': 'OPEN', 'last_update': 1677527440000}, {'number': 91, 'contract_name': 'dublin', 'name': 'SOUTH DOCK ROAD', 'address': 'South Dock Road', 'position': {'lat': 53.341833, 'lng': -6.231291}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 0, 'available_bikes': 30, 'status': 'OPEN', 'last_update': 1677527275000}, {'number': 99, 'contract_name': 'dublin', 'name': 'CITY QUAY', 'address': 'City Quay', 'position': {'lat': 53.346637, 'lng': -6.246154}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 14, 'available_bikes': 16, 'status': 'OPEN', 'last_update': 1677527330000}, {'number': 9, 'contract_name': 'dublin', 'name': 'EXCHEQUER STREET', 'address': 'Exchequer Street', 'position': {'lat': 53.343034, 'lng': -6.263578}, 'banking': False, 'bonus': False, 'bike_stands': 24, 'available_bike_stands': 20, 'available_bikes': 4, 'status': 'OPEN', 'last_update': 1677527118000}, {'number': 67, 'contract_name': 'dublin', 'name': 'THE POINT', 'address': 'The Point', 'position': {'lat': 53.346867, 'lng': -6.230852}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 23, 'available_bikes': 17, 'status': 'OPEN', 'last_update': 1677526906000}, {'number': 116, 'contract_name': 'dublin', 'name': 'BROADSTONE', 'address': 'Broadstone', 'position': {'lat': 53.3547, 'lng': -6.272314}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 25, 'available_bikes': 5, 'status': 'OPEN', 'last_update': 1677527276000}, {'number': 55, 'contract_name': 'dublin', 'name': 'HATCH STREET', 'address': 'Hatch Street', 'position': {'lat': 53.33403, 'lng': -6.260714}, 'banking': False, 'bonus': False, 'bike_stands': 36, 'available_bike_stands': 36, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677527145000}, {'number': 62, 'contract_name': 'dublin', 'name': 'LIME STREET', 'address': 'Lime Street', 'position': {'lat': 53.346026, 'lng': -6.243576}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 21, 'available_bikes': 19, 'status': 'OPEN', 'last_update': 1677527394000}, {'number': 5, 'contract_name': 'dublin', 'name': 'CHARLEMONT PLACE', 'address': 'Charlemont Street', 'position': {'lat': 53.330662, 'lng': -6.260177}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 0, 'available_bikes': 40, 'status': 'OPEN', 'last_update': 1677527027000}, {'number': 97, 'contract_name': 'dublin', 'name': 'KILMAINHAM GAOL', 'address': 'Kilmainham Gaol', 'position': {'lat': 53.342113, 'lng': -6.310015}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 23, 'available_bikes': 17, 'status': 'OPEN', 'last_update': 1677527178000}, {'number': 61, 'contract_name': 'dublin', 'name': 'HARDWICKE PLACE', 'address': 'Hardwicke Place', 'position': {'lat': 53.357043, 'lng': -6.263232}, 'banking': False, 'bonus': False, 'bike_stands': 25, 'available_bike_stands': 22, 'available_bikes': 3, 'status': 'OPEN', 'last_update': 1677527347000}, {'number': 77, 'contract_name': 'dublin', 'name': 'WOLFE TONE STREET', 'address': 'Wolfe Tone Street', 'position': {'lat': 53.348875, 'lng': -6.267459}, 'banking': False, 'bonus': False, 'bike_stands': 29, 'available_bike_stands': 22, 'available_bikes': 7, 'status': 'OPEN', 'last_update': 1677527387000}, {'number': 4, 'contract_name': 'dublin', 'name': 'GREEK STREET', 'address': 'Greek Street', 'position': {'lat': 53.346874, 'lng': -6.272976}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 11, 'available_bikes': 9, 'status': 'OPEN', 'last_update': 1677527483000}, {'number': 49, 'contract_name': 'dublin', 'name': 'GUILD STREET', 'address': 'Guild Street', 'position': {'lat': 53.347932, 'lng': -6.240928}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 19, 'available_bikes': 21, 'status': 'OPEN', 'last_update': 1677527328000}, {'number': 19, 'contract_name': 'dublin', 'name': 'HERBERT PLACE', 'address': 'Herbert Place', 'position': {'lat': 53.334432, 'lng': -6.245575}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 30, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677527078000}, {'number': 7, 'contract_name': 'dublin', 'name': 'HIGH STREET', 'address': 'High Street', 'position': {'lat': 53.343565, 'lng': -6.275071}, 'banking': False, 'bonus': False, 'bike_stands': 29, 'available_bike_stands': 16, 'available_bikes': 13, 'status': 'OPEN', 'last_update': 1677527241000}, {'number': 60, 'contract_name': 'dublin', 'name': 'NORTH CIRCULAR ROAD', 'address': 'North Circular Road', 'position': {'lat': 53.359624, 'lng': -6.260348}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 9, 'available_bikes': 21, 'status': 'OPEN', 'last_update': 1677527397000}, {'number': 102, 'contract_name': 'dublin', 'name': 'WESTERN WAY', 'address': 'Western Way', 'position': {'lat': 53.354929, 'lng': -6.269425}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 30, 'available_bikes': 10, 'status': 'OPEN', 'last_update': 1677527102000}, {'number': 38, 'contract_name': 'dublin', 'name': 'TALBOT STREET', 'address': 'Talbot Street', 'position': {'lat': 53.350974, 'lng': -6.25294}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 7, 'available_bikes': 33, 'status': 'OPEN', 'last_update': 1677527076000}, {'number': 53, 'contract_name': 'dublin', 'name': 'NEWMAN HOUSE', 'address': 'Newman House', 'position': {'lat': 53.337132, 'lng': -6.26059}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 36, 'available_bikes': 4, 'status': 'OPEN', 'last_update': 1677527269000}, {'number': 58, 'contract_name': 'dublin', 'name': "SIR PATRICK DUN'S", 'address': "Sir Patrick's Dun", 'position': {'lat': 53.339218, 'lng': -6.240642}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 30, 'available_bikes': 10, 'status': 'OPEN', 'last_update': 1677527459000}, {'number': 66, 'contract_name': 'dublin', 'name': 'NEW CENTRAL BANK', 'address': 'New Central Bank', 'position': {'lat': 53.347122, 'lng': -6.234749}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 32, 'available_bikes': 8, 'status': 'OPEN', 'last_update': 1677527137000}, {'number': 104, 'contract_name': 'dublin', 'name': 'GRANGEGORMAN LOWER (CENTRAL)', 'address': 'Grangegorman Lower (Central)', 'position': {'lat': 53.355173, 'lng': -6.278424}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 33, 'available_bikes': 7, 'status': 'OPEN', 'last_update': 1677527406000}, {'number': 101, 'contract_name': 'dublin', 'name': 'KING STREET NORTH', 'address': 'King Street North', 'position': {'lat': 53.350291, 'lng': -6.273507}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 26, 'available_bikes': 4, 'status': 'OPEN', 'last_update': 1677527406000}, {'number': 115, 'contract_name': 'dublin', 'name': 'KILLARNEY STREET', 'address': 'Killarney Street', 'position': {'lat': 53.354845, 'lng': -6.247579}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 12, 'available_bikes': 18, 'status': 'OPEN', 'last_update': 1677526989000}, {'number': 47, 'contract_name': 'dublin', 'name': 'HERBERT STREET', 'address': 'Herbert Street', 'position': {'lat': 53.335742, 'lng': -6.24551}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 33, 'available_bikes': 7, 'status': 'OPEN', 'last_update': 1677527325000}, {'number': 117, 'contract_name': 'dublin', 'name': 'HANOVER QUAY EAST', 'address': 'Hanover Quay East', 'position': {'lat': 53.343653, 'lng': -6.231755}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 31, 'available_bikes': 9, 'status': 'OPEN', 'last_update': 1677527067000}, {'number': 8, 'contract_name': 'dublin', 'name': 'CUSTOM HOUSE QUAY', 'address': 'Custom House Quay', 'position': {'lat': 53.347884, 'lng': -6.248048}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 18, 'available_bikes': 12, 'status': 'OPEN', 'last_update': 1677527323000}, {'number': 27, 'contract_name': 'dublin', 'name': 'MOLESWORTH STREET', 'address': 'Molesworth Street', 'position': {'lat': 53.341288, 'lng': -6.258117}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 14, 'available_bikes': 6, 'status': 'OPEN', 'last_update': 1677527068000}, {'number': 16, 'contract_name': 'dublin', 'name': 'GEORGES QUAY', 'address': 'Georges Quay', 'position': {'lat': 53.347508, 'lng': -6.252192}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 11, 'available_bikes': 9, 'status': 'OPEN', 'last_update': 1677526971000}, {'number': 96, 'contract_name': 'dublin', 'name': 'KILMAINHAM LANE', 'address': 'Kilmainham Lane', 'position': {'lat': 53.341805, 'lng': -6.305085}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 27, 'available_bikes': 3, 'status': 'OPEN', 'last_update': 1677526918000}, {'number': 82, 'contract_name': 'dublin', 'name': 'MOUNT BROWN', 'address': 'Mount Brown', 'position': {'lat': 53.341645, 'lng': -6.29719}, 'banking': False, 'bonus': False, 'bike_stands': 22, 'available_bike_stands': 0, 'available_bikes': 8, 'status': 'OPEN', 'last_update': 1677527133000}, {'number': 76, 'contract_name': 'dublin', 'name': 'MARKET STREET SOUTH', 'address': 'Market Street South', 'position': {'lat': 53.342296, 'lng': -6.287661}, 'banking': False, 'bonus': False, 'bike_stands': 38, 'available_bike_stands': 28, 'available_bikes': 10, 'status': 'OPEN', 'last_update': 1677527392000}, {'number': 71, 'contract_name': 'dublin', 'name': 'KEVIN STREET', 'address': 'Kevin Street', 'position': {'lat': 53.337757, 'lng': -6.267699}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 34, 'available_bikes': 6, 'status': 'OPEN', 'last_update': 1677527321000}, {'number': 79, 'contract_name': 'dublin', 'name': 'ECCLES STREET EAST', 'address': 'Eccles Street East', 'position': {'lat': 53.358115, 'lng': -6.265601}, 'banking': False, 'bonus': False, 'bike_stands': 27, 'available_bike_stands': 27, 'available_bikes': 0, 'status': 'OPEN', 'last_u

In [10]:
def station_to_db(text):
    stations = json.loads(text)
    print(type(stations), len(stations))
    for station in stations:
        print(station)
        vals = (station.get('address'),
                int(station.get('banking')),
                station.get('bike_stands'),
                int(station.get('bonus')),
                station.get('contract_name'),
                station.get('name'),
                station.get('number'),
                station.get('position').get('lat'),
                station.get('position').get('lng'),
                station.get('status'))
        engine.execute("insert into station values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)", vals)
        break #Because of this break, the loop only inserts the first Station. Which is no.42.
    return

station_to_db(r.text)

<class 'list'> 114
{'number': 42, 'contract_name': 'dublin', 'name': 'SMITHFIELD NORTH', 'address': 'Smithfield North', 'position': {'lat': 53.349562, 'lng': -6.278198}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 4, 'available_bikes': 26, 'status': 'OPEN', 'last_update': 1677527192000}
2023-02-27 19:51:49,024 INFO sqlalchemy.engine.Engine insert into station values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
2023-02-27 19:51:49,026 INFO sqlalchemy.engine.Engine [raw sql] ('Smithfield North', 0, 30, 0, 'dublin', 'SMITHFIELD NORTH', 42, 53.349562, -6.278198, 'OPEN')
2023-02-27 19:51:49,055 INFO sqlalchemy.engine.Engine COMMIT

In [11]:
metadata = sqla.MetaData()
station = sqla.Table("station", metadata,
                    sqla.Column('address', sqla.String(256), nullable=False),
                    sqla.Column('banking', sqla.Integer),
                    sqla.Column('bike_stand', sqla.Integer),
                    sqla.Column('bonus', sqla.Integer),
                    sqla.Column('contract_name', sqla.String(256)),
                    sqla.Column('name', sqla.String(256)),
                    sqla.Column('number', sqla.Integer),
                    sqla.Column('position_lat', sqla.REAL),
                    sqla.Column('position_lgt', sqla.REAL),
                    sqla.Column('status', sqla.String(256)))

availability = sqla.Table("availability", metadata,
                        sqla.Column('available_bikes', sqla.Integer),
                        sqla.Column('available_bike_stands', sqla.Integer),
                        sqla.Column('number', sqla.Integer),
                        sqla.Column('last_update', sqla.BigInteger))

try:
    station.drop(engine)
    availability.drop(engine)
except:
    pass

metadata.create_all(engine)

2023-02-27 19:51:50,866 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-27 19:51:50,867 INFO sqlalchemy.engine.Engine
DROP TABLE station
2023-02-27 19:51:50,868 INFO sqlalchemy.engine.Engine [no key 0.00105s] ()
2023-02-27 19:51:50,907 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 19:51:50,953 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-27 19:51:50,955 INFO sqlalchemy.engine.Engine
DROP TABLE availability
2023-02-27 19:51:50,956 INFO sqlalchemy.engine.Engine [no key 0.00104s] ()
2023-02-27 19:51:50,989 INFO sqlalchemy.engine.Engine COMMIT
2023-02-27 19:51:51,028 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-27 19:51:51,032 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %s AND table_name = %s
2023-02-27 19:51:51,033 INFO sqlalchemy.engine.Engine [generated in 0.00161s] ('dbbikes', 'station')
2023-02-27 19:51:51,051 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %s AND table_name = %s
2023-02-27 19:51:51,053 INFO sqlalchemy.engine.Engine [cached since 0.02156s ago] ('dbbikes', 'availability')
2023-02-27 19:51:51,072 INFO sqlalchemy.engine.Engine
CREATE TABLE station (
	address VARCHAR(256) NOT NULL,
	banking INTEGER,
	bike_stand INTEGER,
	bonus INTEGER,
	contract_name VARCHAR(256),
	name VARCHAR(256),
	number INTEGER,
	position_lat REAL,
	position_lgt REAL,
	status VARCHAR(256)
)


2023-02-27 19:51:51,073 INFO sqlalchemy.engine.Engine [no key 0.00085s] ()
2023-02-27 19:51:51,121 INFO sqlalchemy.engine.Engine
CREATE TABLE availability (
	available_bikes INTEGER,
	available_bike_stands INTEGER,
	number INTEGER,
	last_update BIGINT
)


2023-02-27 19:51:51,122 INFO sqlalchemy.engine.Engine [no key 0.00185s] ()
2023-02-27 19:51:51,167 INFO sqlalchemy.engine.Engine COMMIT

In [12]:
#Loading Tables that are already created


# metadata = sqla.MetaData(bind=engine)
# print(metadata)
# station=sqla.Table('station', metadata, autoload=True)
# print(station)

In [21]:
def stations_fix_keys(station):
    station['position_lat'] = station['position']['lat']
    station['position_lng'] = station['position']['lng']
    return station

stations = json.loads(r.text)

engine.execute(station.insert(), *map(stations_fix_keys, stations))

2023-02-27 19:52:41,800 INFO sqlalchemy.engine.Engine INSERT INTO station (address, banking, bonus, contract_name, name, number, position_lat, status) VALUES (%s, %s, %s, %s, %s, %s, %s, %s)
2023-02-27 19:52:41,802 INFO sqlalchemy.engine.Engine [cached since 40.7s ago] (('Smithfield North', False, False, 'dublin', 'SMITHFIELD NORTH', 42, 53.349562, 'OPEN'), ('Parnell Square North', False, False, 'dublin', 'PARNELL SQUARE NORTH', 30, 53.3537415547453, 'OPEN'), ('Clonmel Street', False, False, 'dublin', 'CLONMEL STREET', 54, 53.336021, 'OPEN'), ('Avondale Road', False, False, 'dublin', 'AVONDALE ROAD', 108, 53.359405, 'OPEN'), ('James Street East', False, False, 'dublin', 'JAMES STREET EAST', 20, 53.336597, 'OPEN'), ('Mount Street Lower', False, False, 'dublin', 'MOUNT STREET LOWER', 56, 53.33796, 'OPEN'), ('Christchurch Place', False, False, 'dublin', 'CHRISTCHURCH PLACE', 6, 53.343368, 'OPEN'), ('Grantham Street', False, False, 'dublin', 'GRANTHAM STREET', 18, 53.334123, 'OPEN')  ... displaying 10 of 114 total bound parameter sets ...  ('Leinster Street South', False, False, 'dublin', 'LEINSTER STREET SOUTH', 21, 53.34218, 'OPEN'), ('Blackhall Place', False, False, 'dublin', 'BLACKHALL PLACE', 88, 53.3488, 'OPEN'))
2023-02-27 19:52:41,843 INFO sqlalchemy.engine.Engine COMMIT

In [14]:
def availability_to_db(text):
    stations = json.loads(text)
    print(type(stations), len(stations))
    for station in stations:
        print(station)
        vals = (int(station.get('number')),
                int(station.get('available_bikes')),
                int(station.get('available_bike_stands')),
                int(station.get('last_update')))
        
        engine.execute("insert into availability values(%s,%s,%s,%s)", vals)
    return

availability_to_db(r.text)

<class 'list'> 114
{'number': 42, 'contract_name': 'dublin', 'name': 'SMITHFIELD NORTH', 'address': 'Smithfield North', 'position': {'lat': 53.349562, 'lng': -6.278198}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 4, 'available_bikes': 26, 'status': 'OPEN', 'last_update': 1677527192000}
2023-02-27 19:52:03,911 INFO sqlalchemy.engine.Engine insert into availability values(%s,%s,%s,%s)
2023-02-27 19:52:03,911 INFO sqlalchemy.engine.Engine [raw sql] (42, 26, 4, 1677527192000)
2023-02-27 19:52:03,940 INFO sqlalchemy.engine.Engine COMMIT
{'number': 30, 'contract_name': 'dublin', 'name': 'PARNELL SQUARE NORTH', 'address': 'Parnell Square North', 'position': {'lat': 53.3537415547453, 'lng': -6.26530144781526}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 17, 'available_bikes': 3, 'status': 'OPEN', 'last_update': 1677527305000}
2023-02-27 19:52:03,981 INFO sqlalchemy.engine.Engine insert into availability values(%s,%s,%s,%s)
2023-02-27 19:52:03,983 INFO sqlalchemy.engine.Engine [raw sql] (30, 3, 17, 1677527305000)
2023-02-27 19:52:04,002 INFO sqlalchemy.engine.Engine COMMIT
{'number': 54, 'contract_name': 'dublin', 'name': 'CLONMEL STREET', 'address': 'Clonmel Street', 'position': {'lat': 53.336021, 'lng': -6.26298}, 'banking': False, 'bonus': False, 'bike_stands': 33, 'available_bike_stands': 32, 'available_bikes': 1, 'status': 'OPEN', 'last_update': 1677527226000}
2023-02-27 19:52:04,035 INFO sqlalchemy.engine.Engine insert into availability values(%s,%s,%s,%s)
2023-02-27 19:52:04,036 INFO sqlalchemy.engine.Engine [raw sql] (54, 1, 32, 1677527226000)
2023-02-27 19:52:04,054 INFO sqlalchemy.engine.Engine COMMIT
{'number': 108, 'contract_name': 'dublin', 'name': 'AVONDALE ROAD', 'address': 'Avondale Road', 'position': {'lat': 53.359405, 'lng': -6.276142}, 'banking': False, 'bonus': False, 'bike_stands': 35, 'available_bike_stands': 20, 'available_bikes': 15, 'status': 'OPEN', 'last_update': 1677527399000}
2023-02-27 19:52:04,096 INFO sqlalchemy.engine.Engine insert into availability values(%s,%s,%s,%s)
2023-02-27 19:52:04,098 INFO sqlalchemy.engine.Engine [raw sql] (108, 15, 20, 1677527399000)
2023-02-27 19:52:04,121 INFO sqlalchemy.engine.Engine COMMIT
{'number': 20, 'contract_name': 'dublin', 'name': 'JAMES STREET EAST', 'address': 'James Street East', 'position': {'lat': 53.336597, 'lng': -6.248109}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 29, 'available_bikes': 1, 'status': 'OPEN', 'last_update': 1677527075000}
2023-02-27 19:52:04,163 INFO sqlalchemy.engine.Engine insert into availability values(%s,%s,%s,%s)
2023-02-27 19:52:04,164 INFO sqlalchemy.engine.Engine [raw sql] (20, 1, 29, 1677527075000)
2023-02-27 19:52:04,181 INFO sqlalchemy.engine.Engine COMMIT
{'number': 56, 'contract_name': 'dublin', 'name': 'MOUNT STREET LOWER', 'address': 'Mount Street Lower', 'position': {'lat': 53.33796, 'lng': -6.24153}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 11, 'available_bikes': 29, 'status': 'OPEN', 'last_update': 1677527233000}
2023-02-27 19:52:04,223 INFO sqlalchemy.engine.Engine insert into availability values(%s,%s,%s,%s)
2023-02-27 19:52:04,224 INFO sqlalchemy.engine.Engine [raw sql] (56, 29, 11, 1677527233000)
2023-02-27 19:52:04,243 INFO sqlalchemy.engine.Engine COMMIT
{'number': 6, 'contract_name': 'dublin', 'name': 'CHRISTCHURCH PLACE', 'address': 'Christchurch Place', 'position': {'lat': 53.343368, 'lng': -6.27012}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 10, 'available_bikes': 10, 'status': 'OPEN', 'last_update': 1677526954000}
2023-02-27 19:52:04,284 INFO sqlalchemy.engine.Engine insert into availability values(%s,%s,%s,%s)
2023-02-27 19:52:04,285 INFO sqlalchemy.engine.Engine [raw sql] (6, 10, 10, 1677526954000)
2023-02-27 19:52:04,303 INFO sqlalchemy.engine.Engine COMMIT
{'number': 18, 'contract_name': 'dublin', 'name': 'GRANTHAM STREET', 'address': 'Grantham Street', 'position': {'lat': 53.334123, 'lng': -6.265436}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 16, 'available_bikes': 14, 'status': 'OPEN', 'last_update': 1677527467000}
2023-02-27 19:52:04,348 INFO sqlalchemy.engine.Engine insert into availability values(%s,%s,%s,%s)
2023-02-27 19:52:04,349 INFO sqlalchemy.engine.Engine [raw sql] (18, 14, 16, 1677527467000)
2023-02-27 19:52:04,366 INFO sqlalchemy.engine.Engine COMMIT
{'number': 32, 'contract_name': 'dublin', 'name': 'PEARSE STREET', 'address': 'Pearse Street', 'position': {'lat': 53.344304, 'lng': -6.250427}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 21, 'available_bikes': 9, 'status': 'OPEN', 'last_update': 1677527410000}
2023-02-27 19:52:04,415 INFO sqlalchemy.engine.Engine insert into availability values(%s,%s,%s,%s)
2023-02-27 19:52:04,416 INFO sqlalchemy.engine.Engine [raw sql] (32, 9, 21, 1677527410000)
2023-02-27 19:52:04,435 INFO sqlalchemy.engine.Engine COMMIT
{'number': 52, 'contract_name': 'dublin', 'name': 'YORK STREET EAST', 'address': 'York Street East', 'position': {'lat': 53.338755, 'lng': -6.262003}, 'banking': False, 'bonus': False, 'bike_stands': 32, 'available_bike_stands': 29, 'available_bikes': 3, 'status': 'OPEN', 'last_update': 1677527473000}
2023-02-27 19:52:04,481 INFO sqlalchemy.engine.Engine insert into availability values(%s,%s,%s,%s)
2023-02-27 19:52:04,482 INFO sqlalchemy.engine.Engine [raw sql] (52, 3, 29, 1677527473000)
2023-02-27 19:52:04,502 INFO sqlalchemy.engine.Engine COMMIT
{'number': 48, 'contract_name': 'dublin', 'name': 'EXCISE WALK', 'address': 'Excise Walk', 'position': {'lat': 53.347777, 'lng': -6.244239}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 14, 'available_bikes': 26, 'status': 'OPEN', 'last_update': 1677527132000}
2023-02-27 19:52:04,555 INFO sqlalchemy.engine.Engine insert into availability values(%s,%s,%s,%s)
2023-02-27 19:52:04,557 INFO sqlalchemy.engine.Engine [raw sql] (48, 26, 14, 1677527132000)
2023-02-27 19:52:04,577 INFO sqlalchemy.engine.Engine COMMIT
{'number': 13, 'contract_name': 'dublin', 'name': 'FITZWILLIAM SQUARE WEST', 'address': 'Fitzwilliam Square West', 'position': {'lat': 53.336074, 'lng': -6.252825}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 26, 'available_bikes': 4, 'status': 'OPEN', 'last_update': 1677527178000}
2023-02-27 19:52:04,620 INFO sqlalchemy.engine.Engine insert into availability values(%s,%s,%s,%s)
2023-02-27 19:52:04,621 INFO sqlalchemy.engine.Engine [raw sql] (13, 4, 26, 1677527178000)
2023-02-27 19:52:04,635 INFO sqlalchemy.engine.Engine COMMIT
{'number': 43, 'contract_name': 'dublin', 'name': 'PORTOBELLO ROAD', 'address': 'Portobello Road', 'position': {'lat': 53.330091, 'lng': -6.268044}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 4, 'available_bikes': 26, 'status': 'OPEN', 'last_update': 1677527480000}
2023-02-27 19:52:04,679 INFO sqlalchemy.engine.Engine insert into availability values(%s,%s,%s,%s)
2023-02-27 19:52:04,681 INFO sqlalchemy.engine.Engine [raw sql] (43, 26, 4, 1677527480000)
2023-02-27 19:52:04,700 INFO sqlalchemy.engine.Engine COMMIT
{'number': 31, 'contract_name': 'dublin', 'name': 'PARNELL STREET', 'address': 'Parnell Street', 'position': {'lat': 53.350929, 'lng': -6.265125}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 15, 'available_bikes': 5, 'status': 'OPEN', 'last_update': 1677527109000}
2023-02-27 19:52:04,739 INFO sqlalchemy.engine.Engine insert into availability values(%s,%s,%s,%s)
2023-02-27 19:52:04,740 INFO sqlalchemy.engine.Engine [raw sql] (31, 5, 15, 1677527109000)
2023-02-27 19:52:04,759 INFO sqlalchemy.engine.Engine COMMIT
{'number': 98, 'contract_name': 'dublin', 'name': 'FREDERICK STREET SOUTH', 'address': 'Frederick Street South', 'position': {'lat': 53.341515, 'lng': -6.256853}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 28, 'available_bikes': 12, 'status': 'OPEN', 'last_update': 1677526946000}
2023-02-27 19:52:04,793 INFO sqlalchemy.engine.Engine insert into availability values(%s,%s,%s,%s)

2023-02-27 19:52:04,794 INFO sqlalchemy.engine.Engine [raw sql] (98, 12, 28, 1677526946000)
2023-02-27 19:52:04,813 INFO sqlalchemy.engine.Engine COMMIT
{'number': 14, 'contract_name': 'dublin', 'name': 'FOWNES STREET UPPER', 'address': 'Fownes Street Upper', 'position': {'lat': 53.344603, 'lng': -6.263371}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 20, 'available_bikes': 10, 'status': 'OPEN', 'last_update': 1677527386000}
2023-02-27 19:52:04,858 INFO sqlalchemy.engine.Engine insert into availability values(%s,%s,%s,%s)
2023-02-27 19:52:04,859 INFO sqlalchemy.engine.Engine [raw sql] (14, 10, 20, 1677527386000)
2023-02-27 19:52:04,878 INFO sqlalchemy.engine.Engine COMMIT
{'number': 1, 'contract_name': 'dublin', 'name': 'CLARENDON ROW', 'address': 'Clarendon Row', 'position': {'lat': 53.340927, 'lng': -6.262501}, 'banking': False, 'bonus': False, 'bike_stands': 31, 'available_bike_stands': 13, 'available_bikes': 18, 'status': 'OPEN', 'last_update': 1677527341000}
2023-02-27 19:52:04,930 INFO sqlalchemy.engine.Engine insert into availability values(%s,%s,%s,%s)
2023-02-27 19:52:04,931 INFO sqlalchemy.engine.Engine [raw sql] (1, 18, 13, 1677527341000)
2023-02-27 19:52:04,948 INFO sqlalchemy.engine.Engine COMMIT
{'number': 23, 'contract_name': 'dublin', 'name': 'CUSTOM HOUSE', 'address': 'Custom House', 'position': {'lat': 53.348279, 'lng': -6.254662}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 6, 'available_bikes': 24, 'status': 'OPEN', 'last_update': 1677527121000}
2023-02-27 19:52:04,984 INFO sqlalchemy.engine.Engine insert into availability values(%s,%s,%s,%s)
2023-02-27 19:52:04,985 INFO sqlalchemy.engine.Engine [raw sql] (23, 24, 6, 1677527121000)
2023-02-27 19:52:05,003 INFO sqlalchemy.engine.Engine COMMIT
{'number': 106, 'contract_name': 'dublin', 'name': 'RATHDOWN ROAD', 'address': 'Rathdown Road', 'position': {'lat': 53.35893, 'lng': -6.280337}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 23, 'available_bikes': 17, 'status': 'OPEN', 'last_update': 1677526952000}
2023-02-27 19:52:05,046 INFO sqlalchemy.engine.Engine insert into availability values(%s,%s,%s,%s)
2023-02-27 19:52:05,047 INFO sqlalchemy.engine.Engine [raw sql] (106, 17, 23, 1677526952000)
2023-02-27 19:52:05,063 INFO sqlalchemy.engine.Engine COMMIT
{'number': 112, 'contract_name': 'dublin', 'name': "NORTH CIRCULAR ROAD (O'CONNELL'S)", 'address': "North Circular Road (O'Connell's)", 'position': {'lat': 53.357841, 'lng': -6.251557}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 4, 'available_bikes': 26, 'status': 'OPEN', 'last_update': 1677526995000}
2023-02-27 19:52:05,104 INFO sqlalchemy.engine.Engine insert into availability values(%s,%s,%s,%s)
2023-02-27 19:52:05,104 INFO sqlalchemy.engine.Engine [raw sql] (112, 26, 4, 1677526995000)
2023-02-27 19:52:05,122 INFO sqlalchemy.engine.Engine COMMIT
{'number': 68, 'contract_name': 'dublin', 'name': 'HANOVER QUAY', 'address': 'Hanover Quay', 'position': {'lat': 53.344115, 'lng': -6.237153}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 37, 'available_bikes': 3, 'status': 'OPEN', 'last_update': 1677527372000}
2023-02-27 19:52:05,181 INFO sqlalchemy.engine.Engine insert into availability values(%s,%s,%s,%s)
2023-02-27 19:52:05,182 INFO sqlalchemy.engine.Engine [raw sql] (68, 3, 37, 1677527372000)
2023-02-27 19:52:05,201 INFO sqlalchemy.engine.Engine COMMIT
{'number': 74, 'contract_name': 'dublin', 'name': 'OLIVER BOND STREET', 'address': 'Oliver Bond Street', 'position': {'lat': 53.343893, 'lng': -6.280531}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 29, 'available_bikes': 1, 'status': 'OPEN', 'last_update': 1677527211000}
2023-02-27 19:52:05,251 INFO sqlalchemy.engine.Engine insert into availability values(%s,%s,%s,%s)
2023-02-27 19:52:05,252 INFO sqlalchemy.engine.Engine [raw sql] (74, 1, 29, 1677527211000)
2023-02-27 19:52:05,269 INFO sqlalchemy.engine.Engine COMMIT
{'number': 87, 'contract_name': 'dublin', 'name': 'COLLINS BARRACKS MUSEUM', 'address': 'Collins Barracks Museum', 'position': {'lat': 53.347477, 'lng': -6.28525}, 'banking': False, 'bonus': False, 'bike_stands': 38, 'available_bike_stands': 33, 'available_bikes': 5, 'status': 'OPEN', 'last_update': 1677527366000}
2023-02-27 19:52:05,320 INFO sqlalchemy.engine.Engine insert into availability values(%s,%s,%s,%s)
2023-02-27 19:52:05,322 INFO sqlalchemy.engine.Engine [raw sql] (87, 5, 33, 1677527366000)
2023-02-27 19:52:05,349 INFO sqlalchemy.engine.Engine COMMIT
{'number': 84, 'contract_name': 'dublin', 'name': 'BROOKFIELD ROAD', 'address': 'Brookfield Road', 'position': {'lat': 53.339005, 'lng': -6.300217}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 27, 'available_bikes': 3, 'status': 'OPEN', 'last_update': 1677527061000}
2023-02-27 19:52:05,396 INFO sqlalchemy.engine.Engine insert into availability values(%s,%s,%s,%s)
2023-02-27 19:52:05,397 INFO sqlalchemy.engine.Engine [raw sql] (84, 3, 27, 1677527061000)
2023-02-27 19:52:05,428 INFO sqlalchemy.engine.Engine COMMIT
{'number': 90, 'contract_name': 'dublin', 'name': 'BENSON STREET', 'address': 'Benson Street', 'position': {'lat': 53.344153, 'lng': -6.233451}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 37, 'available_bikes': 3, 'status': 'OPEN', 'last_update': 1677527141000}
2023-02-27 19:52:05,472 INFO sqlalchemy.engine.Engine insert into availability values(%s,%s,%s,%s)
2023-02-27 19:52:05,473 INFO sqlalchemy.engine.Engine [raw sql] (90, 3, 37, 1677527141000)
2023-02-27 19:52:05,495 INFO sqlalchemy.engine.Engine COMMIT
{'number': 11, 'contract_name': 'dublin', 'name': 'EARLSFORT TERRACE', 'address': 'Earlsfort Terrace', 'position': {'lat': 53.334295, 'lng': -6.258503}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 30, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677527036000}
2023-02-27 19:52:05,546 INFO sqlalchemy.engine.Engine insert into availability values(%s,%s,%s,%s)
2023-02-27 19:52:05,547 INFO sqlalchemy.engine.Engine [raw sql] (11, 0, 30, 1677527036000)
2023-02-27 19:52:05,576 INFO sqlalchemy.engine.Engine COMMIT
{'number': 17, 'contract_name': 'dublin', 'name': 'GOLDEN LANE', 'address': 'Golden Lane', 'position': {'lat': 53.340803, 'lng': -6.267732}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 17, 'available_bikes': 3, 'status': 'OPEN', 'last_update': 1677527353000}
2023-02-27 19:52:05,640 INFO sqlalchemy.engine.Engine insert into availability values(%s,%s,%s,%s)
2023-02-27 19:52:05,641 INFO sqlalchemy.engine.Engine [raw sql] (17, 3, 17, 1677527353000)
2023-02-27 19:52:05,663 INFO sqlalchemy.engine.Engine COMMIT
{'number': 45, 'contract_name': 'dublin', 'name': 'DEVERELL PLACE', 'address': 'Deverell Place', 'position': {'lat': 53.351464, 'lng': -6.255265}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 20, 'available_bikes': 10, 'status': 'OPEN', 'last_update': 1677527105000}
2023-02-27 19:52:05,706 INFO sqlalchemy.engine.Engine insert into availability values(%s,%s,%s,%s)
2023-02-27 19:52:05,708 INFO sqlalchemy.engine.Engine [raw sql] (45, 10, 20, 1677527105000)
2023-02-27 19:52:05,731 INFO sqlalchemy.engine.Engine COMMIT
{'number': 114, 'contract_name': 'dublin', 'name': 'WILTON TERRACE (PARK)', 'address': 'Wilton Terrace (Park)', 'position': {'lat': 53.333653, 'lng': -6.248345}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 39, 'available_bikes': 1, 'status': 'OPEN', 'last_update': 1677527311000}
2023-02-27 19:52:05,776 INFO sqlalchemy.engine.Engine insert into availability values(%s,%s,%s,%s)
2023-02-27 19:52:05,777 INFO sqlalchemy.engine.Engine [raw sql] (114, 1, 39, 1677527311000)
2023-02-27 19:52:05,797 INFO sqlalchemy.engine.Engine COMMIT
{'number': 72, 'contract_name': 'dublin', 'name': 'JOHN STREET WEST', 'address': 'John Street West', 'position': {'lat': 53.343105, 'lng': -6.277167}, 'banking': False, 'bonus': False, 'bike_stands': 31, 'available_bike_stands': 30, 'available_bikes': 1, 'status': 'OPEN', 'last_update': 1677527436000}
2023-02-27 19:52:05,840 INFO sqlalchemy.engine.Engine insert into availability values(%s,%s,%s,%s)

2023-02-27 19:52:05,841 INFO sqlalchemy.engine.Engine [raw sql] (72, 1, 30, 1677527436000)
2023-02-27 19:52:05,860 INFO sqlalchemy.engine.Engine COMMIT
{'number': 63, 'contract_name': 'dublin', 'name': 'FENIAN STREET', 'address': 'Fenian Street', 'position': {'lat': 53.341428, 'lng': -6.24672}, 'banking': False, 'bonus': False, 'bike_stands': 35, 'available_bike_stands': 24, 'available_bikes': 11, 'status': 'OPEN', 'last_update': 1677527404000}
2023-02-27 19:52:05,903 INFO sqlalchemy.engine.Engine insert into availability values(%s,%s,%s,%s)
2023-02-27 19:52:05,905 INFO sqlalchemy.engine.Engine [raw sql] (63, 11, 24, 1677527404000)
2023-02-27 19:52:05,921 INFO sqlalchemy.engine.Engine COMMIT
{'number': 113, 'contract_name': 'dublin', 'name': 'MERRION SQUARE SOUTH', 'address': 'Merrion Square South', 'position': {'lat': 53.338614, 'lng': -6.248606}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 31, 'available_bikes': 9, 'status': 'OPEN', 'last_update': 1677527440000}
2023-02-27 19:52:05,968 INFO sqlalchemy.engine.Engine insert into availability values(%s,%s,%s,%s)
2023-02-27 19:52:05,969 INFO sqlalchemy.engine.Engine [raw sql] (113, 9, 31, 1677527440000)
2023-02-27 19:52:05,989 INFO sqlalchemy.engine.Engine COMMIT
{'number': 91, 'contract_name': 'dublin', 'name': 'SOUTH DOCK ROAD', 'address': 'South Dock Road', 'position': {'lat': 53.341833, 'lng': -6.231291}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 0, 'available_bikes': 30, 'status': 'OPEN', 'last_update': 1677527275000}
2023-02-27 19:52:06,035 INFO sqlalchemy.engine.Engine insert into availability values(%s,%s,%s,%s)
2023-02-27 19:52:06,036 INFO sqlalchemy.engine.Engine [raw sql] (91, 30, 0, 1677527275000)
2023-02-27 19:52:06,062 INFO sqlalchemy.engine.Engine COMMIT
{'number': 99, 'contract_name': 'dublin', 'name': 'CITY QUAY', 'address': 'City Quay', 'position': {'lat': 53.346637, 'lng': -6.246154}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 14, 'available_bikes': 16, 'status': 'OPEN', 'last_update': 1677527330000}
2023-02-27 19:52:06,102 INFO sqlalchemy.engine.Engine insert into availability values(%s,%s,%s,%s)
2023-02-27 19:52:06,103 INFO sqlalchemy.engine.Engine [raw sql] (99, 16, 14, 1677527330000)
2023-02-27 19:52:06,122 INFO sqlalchemy.engine.Engine COMMIT
{'number': 9, 'contract_name': 'dublin', 'name': 'EXCHEQUER STREET', 'address': 'Exchequer Street', 'position': {'lat': 53.343034, 'lng': -6.263578}, 'banking': False, 'bonus': False, 'bike_stands': 24, 'available_bike_stands': 20, 'available_bikes': 4, 'status': 'OPEN', 'last_update': 1677527118000}
2023-02-27 19:52:06,168 INFO sqlalchemy.engine.Engine insert into availability values(%s,%s,%s,%s)
2023-02-27 19:52:06,170 INFO sqlalchemy.engine.Engine [raw sql] (9, 4, 20, 1677527118000)
2023-02-27 19:52:06,191 INFO sqlalchemy.engine.Engine COMMIT
{'number': 67, 'contract_name': 'dublin', 'name': 'THE POINT', 'address': 'The Point', 'position': {'lat': 53.346867, 'lng': -6.230852}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 23, 'available_bikes': 17, 'status': 'OPEN', 'last_update': 1677526906000}
2023-02-27 19:52:06,242 INFO sqlalchemy.engine.Engine insert into availability values(%s,%s,%s,%s)
2023-02-27 19:52:06,243 INFO sqlalchemy.engine.Engine [raw sql] (67, 17, 23, 1677526906000)
2023-02-27 19:52:06,264 INFO sqlalchemy.engine.Engine COMMIT
{'number': 116, 'contract_name': 'dublin', 'name': 'BROADSTONE', 'address': 'Broadstone', 'position': {'lat': 53.3547, 'lng': -6.272314}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 25, 'available_bikes': 5, 'status': 'OPEN', 'last_update': 1677527276000}
2023-02-27 19:52:06,314 INFO sqlalchemy.engine.Engine insert into availability values(%s,%s,%s,%s)
2023-02-27 19:52:06,315 INFO sqlalchemy.engine.Engine [raw sql] (116, 5, 25, 1677527276000)
2023-02-27 19:52:06,334 INFO sqlalchemy.engine.Engine COMMIT
{'number': 55, 'contract_name': 'dublin', 'name': 'HATCH STREET', 'address': 'Hatch Street', 'position': {'lat': 53.33403, 'lng': -6.260714}, 'banking': False, 'bonus': False, 'bike_stands': 36, 'available_bike_stands': 36, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677527145000}
2023-02-27 19:52:06,377 INFO sqlalchemy.engine.Engine insert into availability values(%s,%s,%s,%s)
2023-02-27 19:52:06,379 INFO sqlalchemy.engine.Engine [raw sql] (55, 0, 36, 1677527145000)
2023-02-27 19:52:06,396 INFO sqlalchemy.engine.Engine COMMIT
{'number': 62, 'contract_name': 'dublin', 'name': 'LIME STREET', 'address': 'Lime Street', 'position': {'lat': 53.346026, 'lng': -6.243576}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 21, 'available_bikes': 19, 'status': 'OPEN', 'last_update': 1677527394000}
2023-02-27 19:52:06,438 INFO sqlalchemy.engine.Engine insert into availability values(%s,%s,%s,%s)
2023-02-27 19:52:06,440 INFO sqlalchemy.engine.Engine [raw sql] (62, 19, 21, 1677527394000)
2023-02-27 19:52:06,455 INFO sqlalchemy.engine.Engine COMMIT
{'number': 5, 'contract_name': 'dublin', 'name': 'CHARLEMONT PLACE', 'address': 'Charlemont Street', 'position': {'lat': 53.330662, 'lng': -6.260177}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 0, 'available_bikes': 40, 'status': 'OPEN', 'last_update': 1677527027000}
2023-02-27 19:52:06,495 INFO sqlalchemy.engine.Engine insert into availability values(%s,%s,%s,%s)
2023-02-27 19:52:06,496 INFO sqlalchemy.engine.Engine [raw sql] (5, 40, 0, 1677527027000)
2023-02-27 19:52:06,513 INFO sqlalchemy.engine.Engine COMMIT
{'number': 97, 'contract_name': 'dublin', 'name': 'KILMAINHAM GAOL', 'address': 'Kilmainham Gaol', 'position': {'lat': 53.342113, 'lng': -6.310015}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 23, 'available_bikes': 17, 'status': 'OPEN', 'last_update': 1677527178000}
2023-02-27 19:52:06,557 INFO sqlalchemy.engine.Engine insert into availability values(%s,%s,%s,%s)
2023-02-27 19:52:06,559 INFO sqlalchemy.engine.Engine [raw sql] (97, 17, 23, 1677527178000)
2023-02-27 19:52:06,579 INFO sqlalchemy.engine.Engine COMMIT
{'number': 61, 'contract_name': 'dublin', 'name': 'HARDWICKE PLACE', 'address': 'Hardwicke Place', 'position': {'lat': 53.357043, 'lng': -6.263232}, 'banking': False, 'bonus': False, 'bike_stands': 25, 'available_bike_stands': 22, 'available_bikes': 3, 'status': 'OPEN', 'last_update': 1677527347000}
2023-02-27 19:52:06,617 INFO sqlalchemy.engine.Engine insert into availability values(%s,%s,%s,%s)
2023-02-27 19:52:06,619 INFO sqlalchemy.engine.Engine [raw sql] (61, 3, 22, 1677527347000)
2023-02-27 19:52:06,635 INFO sqlalchemy.engine.Engine COMMIT
{'number': 77, 'contract_name': 'dublin', 'name': 'WOLFE TONE STREET', 'address': 'Wolfe Tone Street', 'position': {'lat': 53.348875, 'lng': -6.267459}, 'banking': False, 'bonus': False, 'bike_stands': 29, 'available_bike_stands': 22, 'available_bikes': 7, 'status': 'OPEN', 'last_update': 1677527387000}
2023-02-27 19:52:06,681 INFO sqlalchemy.engine.Engine insert into availability values(%s,%s,%s,%s)
2023-02-27 19:52:06,682 INFO sqlalchemy.engine.Engine [raw sql] (77, 7, 22, 1677527387000)
2023-02-27 19:52:06,701 INFO sqlalchemy.engine.Engine COMMIT
{'number': 4, 'contract_name': 'dublin', 'name': 'GREEK STREET', 'address': 'Greek Street', 'position': {'lat': 53.346874, 'lng': -6.272976}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 11, 'available_bikes': 9, 'status': 'OPEN', 'last_update': 1677527483000}
2023-02-27 19:52:06,746 INFO sqlalchemy.engine.Engine insert into availability values(%s,%s,%s,%s)
2023-02-27 19:52:06,747 INFO sqlalchemy.engine.Engine [raw sql] (4, 9, 11, 1677527483000)
2023-02-27 19:52:06,764 INFO sqlalchemy.engine.Engine COMMIT
{'number': 49, 'contract_name': 'dublin', 'name': 'GUILD STREET', 'address': 'Guild Street', 'position': {'lat': 53.347932, 'lng': -6.240928}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 19, 'available_bikes': 21, 'status': 'OPEN', 'last_update': 1677527328000}
2023-02-27 19:52:06,817 INFO sqlalchemy.engine.Engine insert into availability values(%s,%s,%s,%s)

2023-02-27 19:52:06,818 INFO sqlalchemy.engine.Engine [raw sql] (49, 21, 19, 1677527328000)
2023-02-27 19:52:06,846 INFO sqlalchemy.engine.Engine COMMIT
{'number': 19, 'contract_name': 'dublin', 'name': 'HERBERT PLACE', 'address': 'Herbert Place', 'position': {'lat': 53.334432, 'lng': -6.245575}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 30, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677527078000}
2023-02-27 19:52:06,894 INFO sqlalchemy.engine.Engine insert into availability values(%s,%s,%s,%s)
2023-02-27 19:52:06,895 INFO sqlalchemy.engine.Engine [raw sql] (19, 0, 30, 1677527078000)
2023-02-27 19:52:06,915 INFO sqlalchemy.engine.Engine COMMIT
{'number': 7, 'contract_name': 'dublin', 'name': 'HIGH STREET', 'address': 'High Street', 'position': {'lat': 53.343565, 'lng': -6.275071}, 'banking': False, 'bonus': False, 'bike_stands': 29, 'available_bike_stands': 16, 'available_bikes': 13, 'status': 'OPEN', 'last_update': 1677527241000}
2023-02-27 19:52:06,960 INFO sqlalchemy.engine.Engine insert into availability values(%s,%s,%s,%s)
2023-02-27 19:52:06,962 INFO sqlalchemy.engine.Engine [raw sql] (7, 13, 16, 1677527241000)
2023-02-27 19:52:06,977 INFO sqlalchemy.engine.Engine COMMIT
{'number': 60, 'contract_name': 'dublin', 'name': 'NORTH CIRCULAR ROAD', 'address': 'North Circular Road', 'position': {'lat': 53.359624, 'lng': -6.260348}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 9, 'available_bikes': 21, 'status': 'OPEN', 'last_update': 1677527397000}
2023-02-27 19:52:07,020 INFO sqlalchemy.engine.Engine insert into availability values(%s,%s,%s,%s)
2023-02-27 19:52:07,021 INFO sqlalchemy.engine.Engine [raw sql] (60, 21, 9, 1677527397000)
2023-02-27 19:52:07,041 INFO sqlalchemy.engine.Engine COMMIT
{'number': 102, 'contract_name': 'dublin', 'name': 'WESTERN WAY', 'address': 'Western Way', 'position': {'lat': 53.354929, 'lng': -6.269425}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 30, 'available_bikes': 10, 'status': 'OPEN', 'last_update': 1677527102000}
2023-02-27 19:52:07,097 INFO sqlalchemy.engine.Engine insert into availability values(%s,%s,%s,%s)
2023-02-27 19:52:07,098 INFO sqlalchemy.engine.Engine [raw sql] (102, 10, 30, 1677527102000)
2023-02-27 19:52:07,120 INFO sqlalchemy.engine.Engine COMMIT
{'number': 38, 'contract_name': 'dublin', 'name': 'TALBOT STREET', 'address': 'Talbot Street', 'position': {'lat': 53.350974, 'lng': -6.25294}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 7, 'available_bikes': 33, 'status': 'OPEN', 'last_update': 1677527076000}
2023-02-27 19:52:07,157 INFO sqlalchemy.engine.Engine insert into availability values(%s,%s,%s,%s)
2023-02-27 19:52:07,158 INFO sqlalchemy.engine.Engine [raw sql] (38, 33, 7, 1677527076000)
2023-02-27 19:52:07,180 INFO sqlalchemy.engine.Engine COMMIT
{'number': 53, 'contract_name': 'dublin', 'name': 'NEWMAN HOUSE', 'address': 'Newman House', 'position': {'lat': 53.337132, 'lng': -6.26059}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 36, 'available_bikes': 4, 'status': 'OPEN', 'last_update': 1677527269000}
2023-02-27 19:52:07,215 INFO sqlalchemy.engine.Engine insert into availability values(%s,%s,%s,%s)
2023-02-27 19:52:07,216 INFO sqlalchemy.engine.Engine [raw sql] (53, 4, 36, 1677527269000)
2023-02-27 19:52:07,233 INFO sqlalchemy.engine.Engine COMMIT
{'number': 58, 'contract_name': 'dublin', 'name': "SIR PATRICK DUN'S", 'address': "Sir Patrick's Dun", 'position': {'lat': 53.339218, 'lng': -6.240642}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 30, 'available_bikes': 10, 'status': 'OPEN', 'last_update': 1677527459000}
2023-02-27 19:52:07,271 INFO sqlalchemy.engine.Engine insert into availability values(%s,%s,%s,%s)
2023-02-27 19:52:07,272 INFO sqlalchemy.engine.Engine [raw sql] (58, 10, 30, 1677527459000)
2023-02-27 19:52:07,291 INFO sqlalchemy.engine.Engine COMMIT
{'number': 66, 'contract_name': 'dublin', 'name': 'NEW CENTRAL BANK', 'address': 'New Central Bank', 'position': {'lat': 53.347122, 'lng': -6.234749}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 32, 'available_bikes': 8, 'status': 'OPEN', 'last_update': 1677527137000}
2023-02-27 19:52:07,332 INFO sqlalchemy.engine.Engine insert into availability values(%s,%s,%s,%s)
2023-02-27 19:52:07,333 INFO sqlalchemy.engine.Engine [raw sql] (66, 8, 32, 1677527137000)
2023-02-27 19:52:07,354 INFO sqlalchemy.engine.Engine COMMIT
{'number': 104, 'contract_name': 'dublin', 'name': 'GRANGEGORMAN LOWER (CENTRAL)', 'address': 'Grangegorman Lower (Central)', 'position': {'lat': 53.355173, 'lng': -6.278424}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 33, 'available_bikes': 7, 'status': 'OPEN', 'last_update': 1677527406000}
2023-02-27 19:52:07,409 INFO sqlalchemy.engine.Engine insert into availability values(%s,%s,%s,%s)
2023-02-27 19:52:07,411 INFO sqlalchemy.engine.Engine [raw sql] (104, 7, 33, 1677527406000)
2023-02-27 19:52:07,429 INFO sqlalchemy.engine.Engine COMMIT
{'number': 101, 'contract_name': 'dublin', 'name': 'KING STREET NORTH', 'address': 'King Street North', 'position': {'lat': 53.350291, 'lng': -6.273507}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 26, 'available_bikes': 4, 'status': 'OPEN', 'last_update': 1677527406000}
2023-02-27 19:52:07,470 INFO sqlalchemy.engine.Engine insert into availability values(%s,%s,%s,%s)
2023-02-27 19:52:07,471 INFO sqlalchemy.engine.Engine [raw sql] (101, 4, 26, 1677527406000)
2023-02-27 19:52:07,490 INFO sqlalchemy.engine.Engine COMMIT
{'number': 115, 'contract_name': 'dublin', 'name': 'KILLARNEY STREET', 'address': 'Killarney Street', 'position': {'lat': 53.354845, 'lng': -6.247579}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 12, 'available_bikes': 18, 'status': 'OPEN', 'last_update': 1677526989000}
2023-02-27 19:52:07,533 INFO sqlalchemy.engine.Engine insert into availability values(%s,%s,%s,%s)
2023-02-27 19:52:07,534 INFO sqlalchemy.engine.Engine [raw sql] (115, 18, 12, 1677526989000)
2023-02-27 19:52:07,556 INFO sqlalchemy.engine.Engine COMMIT
{'number': 47, 'contract_name': 'dublin', 'name': 'HERBERT STREET', 'address': 'Herbert Street', 'position': {'lat': 53.335742, 'lng': -6.24551}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 33, 'available_bikes': 7, 'status': 'OPEN', 'last_update': 1677527325000}
2023-02-27 19:52:07,594 INFO sqlalchemy.engine.Engine insert into availability values(%s,%s,%s,%s)
2023-02-27 19:52:07,595 INFO sqlalchemy.engine.Engine [raw sql] (47, 7, 33, 1677527325000)
2023-02-27 19:52:07,614 INFO sqlalchemy.engine.Engine COMMIT
{'number': 117, 'contract_name': 'dublin', 'name': 'HANOVER QUAY EAST', 'address': 'Hanover Quay East', 'position': {'lat': 53.343653, 'lng': -6.231755}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 31, 'available_bikes': 9, 'status': 'OPEN', 'last_update': 1677527067000}
2023-02-27 19:52:07,665 INFO sqlalchemy.engine.Engine insert into availability values(%s,%s,%s,%s)
2023-02-27 19:52:07,666 INFO sqlalchemy.engine.Engine [raw sql] (117, 9, 31, 1677527067000)
2023-02-27 19:52:07,683 INFO sqlalchemy.engine.Engine COMMIT
{'number': 8, 'contract_name': 'dublin', 'name': 'CUSTOM HOUSE QUAY', 'address': 'Custom House Quay', 'position': {'lat': 53.347884, 'lng': -6.248048}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 18, 'available_bikes': 12, 'status': 'OPEN', 'last_update': 1677527323000}
2023-02-27 19:52:07,723 INFO sqlalchemy.engine.Engine insert into availability values(%s,%s,%s,%s)
2023-02-27 19:52:07,724 INFO sqlalchemy.engine.Engine [raw sql] (8, 12, 18, 1677527323000)
2023-02-27 19:52:07,742 INFO sqlalchemy.engine.Engine COMMIT
{'number': 27, 'contract_name': 'dublin', 'name': 'MOLESWORTH STREET', 'address': 'Molesworth Street', 'position': {'lat': 53.341288, 'lng': -6.258117}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 14, 'available_bikes': 6, 'status': 'OPEN', 'last_update': 1677527068000}
2023-02-27 19:52:07,782 INFO sqlalchemy.engine.Engine insert into availability values(%s,%s,%s,%s)

2023-02-27 19:52:07,783 INFO sqlalchemy.engine.Engine [raw sql] (27, 6, 14, 1677527068000)
2023-02-27 19:52:07,801 INFO sqlalchemy.engine.Engine COMMIT
{'number': 16, 'contract_name': 'dublin', 'name': 'GEORGES QUAY', 'address': 'Georges Quay', 'position': {'lat': 53.347508, 'lng': -6.252192}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 11, 'available_bikes': 9, 'status': 'OPEN', 'last_update': 1677526971000}
2023-02-27 19:52:07,846 INFO sqlalchemy.engine.Engine insert into availability values(%s,%s,%s,%s)
2023-02-27 19:52:07,847 INFO sqlalchemy.engine.Engine [raw sql] (16, 9, 11, 1677526971000)
2023-02-27 19:52:07,870 INFO sqlalchemy.engine.Engine COMMIT
{'number': 96, 'contract_name': 'dublin', 'name': 'KILMAINHAM LANE', 'address': 'Kilmainham Lane', 'position': {'lat': 53.341805, 'lng': -6.305085}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 27, 'available_bikes': 3, 'status': 'OPEN', 'last_update': 1677526918000}
2023-02-27 19:52:07,930 INFO sqlalchemy.engine.Engine insert into availability values(%s,%s,%s,%s)
2023-02-27 19:52:07,931 INFO sqlalchemy.engine.Engine [raw sql] (96, 3, 27, 1677526918000)
2023-02-27 19:52:07,950 INFO sqlalchemy.engine.Engine COMMIT
{'number': 82, 'contract_name': 'dublin', 'name': 'MOUNT BROWN', 'address': 'Mount Brown', 'position': {'lat': 53.341645, 'lng': -6.29719}, 'banking': False, 'bonus': False, 'bike_stands': 22, 'available_bike_stands': 0, 'available_bikes': 8, 'status': 'OPEN', 'last_update': 1677527133000}
2023-02-27 19:52:07,994 INFO sqlalchemy.engine.Engine insert into availability values(%s,%s,%s,%s)
2023-02-27 19:52:07,996 INFO sqlalchemy.engine.Engine [raw sql] (82, 8, 0, 1677527133000)
2023-02-27 19:52:08,014 INFO sqlalchemy.engine.Engine COMMIT
{'number': 76, 'contract_name': 'dublin', 'name': 'MARKET STREET SOUTH', 'address': 'Market Street South', 'position': {'lat': 53.342296, 'lng': -6.287661}, 'banking': False, 'bonus': False, 'bike_stands': 38, 'available_bike_stands': 28, 'available_bikes': 10, 'status': 'OPEN', 'last_update': 1677527392000}
2023-02-27 19:52:08,061 INFO sqlalchemy.engine.Engine insert into availability values(%s,%s,%s,%s)
2023-02-27 19:52:08,062 INFO sqlalchemy.engine.Engine [raw sql] (76, 10, 28, 1677527392000)
2023-02-27 19:52:08,089 INFO sqlalchemy.engine.Engine COMMIT
{'number': 71, 'contract_name': 'dublin', 'name': 'KEVIN STREET', 'address': 'Kevin Street', 'position': {'lat': 53.337757, 'lng': -6.267699}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 34, 'available_bikes': 6, 'status': 'OPEN', 'last_update': 1677527321000}
2023-02-27 19:52:08,132 INFO sqlalchemy.engine.Engine insert into availability values(%s,%s,%s,%s)
2023-02-27 19:52:08,133 INFO sqlalchemy.engine.Engine [raw sql] (71, 6, 34, 1677527321000)
2023-02-27 19:52:08,152 INFO sqlalchemy.engine.Engine COMMIT
{'number': 79, 'contract_name': 'dublin', 'name': 'ECCLES STREET EAST', 'address': 'Eccles Street East', 'position': {'lat': 53.358115, 'lng': -6.265601}, 'banking': False, 'bonus': False, 'bike_stands': 27, 'available_bike_stands': 27, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677526955000}
2023-02-27 19:52:08,198 INFO sqlalchemy.engine.Engine insert into availability values(%s,%s,%s,%s)
2023-02-27 19:52:08,199 INFO sqlalchemy.engine.Engine [raw sql] (79, 0, 27, 1677526955000)
2023-02-27 19:52:08,221 INFO sqlalchemy.engine.Engine COMMIT
{'number': 69, 'contract_name': 'dublin', 'name': 'GRAND CANAL DOCK', 'address': 'Grand Canal Dock', 'position': {'lat': 53.342638, 'lng': -6.238695}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 20, 'available_bikes': 20, 'status': 'OPEN', 'last_update': 1677527442000}
2023-02-27 19:52:08,270 INFO sqlalchemy.engine.Engine insert into availability values(%s,%s,%s,%s)
2023-02-27 19:52:08,272 INFO sqlalchemy.engine.Engine [raw sql] (69, 20, 20, 1677527442000)
2023-02-27 19:52:08,291 INFO sqlalchemy.engine.Engine COMMIT
{'number': 25, 'contract_name': 'dublin', 'name': 'MERRION SQUARE EAST', 'address': 'Merrion Square East', 'position': {'lat': 53.339434, 'lng': -6.246548}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 26, 'available_bikes': 4, 'status': 'OPEN', 'last_update': 1677527255000}
2023-02-27 19:52:08,333 INFO sqlalchemy.engine.Engine insert into availability values(%s,%s,%s,%s)
2023-02-27 19:52:08,334 INFO sqlalchemy.engine.Engine [raw sql] (25, 4, 26, 1677527255000)
2023-02-27 19:52:08,355 INFO sqlalchemy.engine.Engine COMMIT
{'number': 51, 'contract_name': 'dublin', 'name': 'YORK STREET WEST', 'address': 'York Street West', 'position': {'lat': 53.339334, 'lng': -6.264699}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 22, 'available_bikes': 18, 'status': 'OPEN', 'last_update': 1677527154000}
2023-02-27 19:52:08,400 INFO sqlalchemy.engine.Engine insert into availability values(%s,%s,%s,%s)
2023-02-27 19:52:08,401 INFO sqlalchemy.engine.Engine [raw sql] (51, 18, 22, 1677527154000)
2023-02-27 19:52:08,422 INFO sqlalchemy.engine.Engine COMMIT
{'number': 37, 'contract_name': 'dublin', 'name': "ST. STEPHEN'S GREEN SOUTH", 'address': "St. Stephen's Green South", 'position': {'lat': 53.337494, 'lng': -6.26199}, 'banking': True, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 30, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677527038000}
2023-02-27 19:52:08,463 INFO sqlalchemy.engine.Engine insert into availability values(%s,%s,%s,%s)
2023-02-27 19:52:08,464 INFO sqlalchemy.engine.Engine [raw sql] (37, 0, 30, 1677527038000)
2023-02-27 19:52:08,485 INFO sqlalchemy.engine.Engine COMMIT
{'number': 59, 'contract_name': 'dublin', 'name': 'DENMARK STREET GREAT', 'address': 'Denmark Street Great', 'position': {'lat': 53.35561, 'lng': -6.261397}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 14, 'available_bikes': 6, 'status': 'OPEN', 'last_update': 1677527051000}
2023-02-27 19:52:08,531 INFO sqlalchemy.engine.Engine insert into availability values(%s,%s,%s,%s)
2023-02-27 19:52:08,532 INFO sqlalchemy.engine.Engine [raw sql] (59, 6, 14, 1677527051000)
2023-02-27 19:52:08,569 INFO sqlalchemy.engine.Engine COMMIT
{'number': 95, 'contract_name': 'dublin', 'name': 'ROYAL HOSPITAL', 'address': 'Royal Hospital', 'position': {'lat': 53.343897, 'lng': -6.29706}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 9, 'available_bikes': 31, 'status': 'OPEN', 'last_update': 1677527337000}
2023-02-27 19:52:08,616 INFO sqlalchemy.engine.Engine insert into availability values(%s,%s,%s,%s)
2023-02-27 19:52:08,617 INFO sqlalchemy.engine.Engine [raw sql] (95, 31, 9, 1677527337000)
2023-02-27 19:52:08,636 INFO sqlalchemy.engine.Engine COMMIT
{'number': 94, 'contract_name': 'dublin', 'name': 'HEUSTON STATION (CAR PARK)', 'address': 'Heuston Station (Car Park)', 'position': {'lat': 53.346985, 'lng': -6.297804}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 35, 'available_bikes': 5, 'status': 'OPEN', 'last_update': 1677526915000}
2023-02-27 19:52:08,676 INFO sqlalchemy.engine.Engine insert into availability values(%s,%s,%s,%s)
2023-02-27 19:52:08,678 INFO sqlalchemy.engine.Engine [raw sql] (94, 5, 35, 1677526915000)
2023-02-27 19:52:08,697 INFO sqlalchemy.engine.Engine COMMIT
{'number': 105, 'contract_name': 'dublin', 'name': 'GRANGEGORMAN LOWER (NORTH)', 'address': 'Grangegorman Lower (North)', 'position': {'lat': 53.355954, 'lng': -6.278378}, 'banking': False, 'bonus': False, 'bike_stands': 36, 'available_bike_stands': 16, 'available_bikes': 20, 'status': 'OPEN', 'last_update': 1677527434000}
2023-02-27 19:52:08,735 INFO sqlalchemy.engine.Engine insert into availability values(%s,%s,%s,%s)
2023-02-27 19:52:08,736 INFO sqlalchemy.engine.Engine [raw sql] (105, 20, 16, 1677527434000)
2023-02-27 19:52:08,762 INFO sqlalchemy.engine.Engine COMMIT
{'number': 36, 'contract_name': 'dublin', 'name': "ST. STEPHEN'S GREEN EAST", 'address': "St. Stephen's Green East", 'position': {'lat': 53.337824, 'lng': -6.256035}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 39, 'available_bikes': 1, 'status': 'OPEN', 'last_update': 1677527450000}
2023-02-27 19:52:08,810 INFO sqlalchemy.engine.Engine insert into availability values(%s,%s,%s,%s)

2023-02-27 19:52:08,812 INFO sqlalchemy.engine.Engine [raw sql] (36, 1, 39, 1677527450000)
2023-02-27 19:52:08,828 INFO sqlalchemy.engine.Engine COMMIT
{'number': 93, 'contract_name': 'dublin', 'name': 'HEUSTON STATION (CENTRAL)', 'address': 'Heuston Station (Central)', 'position': {'lat': 53.346603, 'lng': -6.296924}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 14, 'available_bikes': 26, 'status': 'OPEN', 'last_update': 1677527052000}
2023-02-27 19:52:08,874 INFO sqlalchemy.engine.Engine insert into availability values(%s,%s,%s,%s)
2023-02-27 19:52:08,876 INFO sqlalchemy.engine.Engine [raw sql] (93, 26, 14, 1677527052000)
2023-02-27 19:52:08,891 INFO sqlalchemy.engine.Engine COMMIT
{'number': 22, 'contract_name': 'dublin', 'name': 'TOWNSEND STREET', 'address': 'Townsend Street', 'position': {'lat': 53.345922, 'lng': -6.254614}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 12, 'available_bikes': 7, 'status': 'OPEN', 'last_update': 1677527486000}
2023-02-27 19:52:08,938 INFO sqlalchemy.engine.Engine insert into availability values(%s,%s,%s,%s)
2023-02-27 19:52:08,939 INFO sqlalchemy.engine.Engine [raw sql] (22, 7, 12, 1677527486000)
2023-02-27 19:52:08,957 INFO sqlalchemy.engine.Engine COMMIT
{'number': 50, 'contract_name': 'dublin', 'name': 'GEORGES LANE', 'address': "George's Lane", 'position': {'lat': 53.35023, 'lng': -6.279696}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 13, 'available_bikes': 27, 'status': 'OPEN', 'last_update': 1677527217000}
2023-02-27 19:52:09,004 INFO sqlalchemy.engine.Engine insert into availability values(%s,%s,%s,%s)
2023-02-27 19:52:09,005 INFO sqlalchemy.engine.Engine [raw sql] (50, 27, 13, 1677527217000)
2023-02-27 19:52:09,025 INFO sqlalchemy.engine.Engine COMMIT
{'number': 110, 'contract_name': 'dublin', 'name': 'PHIBSBOROUGH ROAD', 'address': 'Phibsborough Road', 'position': {'lat': 53.356307, 'lng': -6.273717}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 32, 'available_bikes': 8, 'status': 'OPEN', 'last_update': 1677527121000}
2023-02-27 19:52:09,066 INFO sqlalchemy.engine.Engine insert into availability values(%s,%s,%s,%s)
2023-02-27 19:52:09,068 INFO sqlalchemy.engine.Engine [raw sql] (110, 8, 32, 1677527121000)
2023-02-27 19:52:09,086 INFO sqlalchemy.engine.Engine COMMIT
{'number': 12, 'contract_name': 'dublin', 'name': 'ECCLES STREET', 'address': 'Eccles Street', 'position': {'lat': 53.359246, 'lng': -6.269779}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 10, 'available_bikes': 10, 'status': 'OPEN', 'last_update': 1677527010000}
2023-02-27 19:52:09,133 INFO sqlalchemy.engine.Engine insert into availability values(%s,%s,%s,%s)
2023-02-27 19:52:09,134 INFO sqlalchemy.engine.Engine [raw sql] (12, 10, 10, 1677527010000)
2023-02-27 19:52:09,161 INFO sqlalchemy.engine.Engine COMMIT
{'number': 34, 'contract_name': 'dublin', 'name': 'PORTOBELLO HARBOUR', 'address': 'Portobello Harbour', 'position': {'lat': 53.330362, 'lng': -6.265163}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 0, 'available_bikes': 29, 'status': 'OPEN', 'last_update': 1677527489000}
2023-02-27 19:52:09,199 INFO sqlalchemy.engine.Engine insert into availability values(%s,%s,%s,%s)
2023-02-27 19:52:09,200 INFO sqlalchemy.engine.Engine [raw sql] (34, 29, 0, 1677527489000)
2023-02-27 19:52:09,221 INFO sqlalchemy.engine.Engine COMMIT
{'number': 78, 'contract_name': 'dublin', 'name': 'MATER HOSPITAL', 'address': 'Mater Hospital', 'position': {'lat': 53.359967, 'lng': -6.264828}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 22, 'available_bikes': 18, 'status': 'OPEN', 'last_update': 1677527105000}
2023-02-27 19:52:09,265 INFO sqlalchemy.engine.Engine insert into availability values(%s,%s,%s,%s)
2023-02-27 19:52:09,267 INFO sqlalchemy.engine.Engine [raw sql] (78, 18, 22, 1677527105000)
2023-02-27 19:52:09,287 INFO sqlalchemy.engine.Engine COMMIT
{'number': 2, 'contract_name': 'dublin', 'name': 'BLESSINGTON STREET', 'address': 'Blessington Street', 'position': {'lat': 53.356769, 'lng': -6.26814}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 18, 'available_bikes': 2, 'status': 'OPEN', 'last_update': 1677527087000}
2023-02-27 19:52:09,332 INFO sqlalchemy.engine.Engine insert into availability values(%s,%s,%s,%s)
2023-02-27 19:52:09,333 INFO sqlalchemy.engine.Engine [raw sql] (2, 2, 18, 1677527087000)
2023-02-27 19:52:09,353 INFO sqlalchemy.engine.Engine COMMIT
{'number': 75, 'contract_name': 'dublin', 'name': 'JAMES STREET', 'address': 'James Street', 'position': {'lat': 53.343456, 'lng': -6.287409}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 40, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677527163000}
2023-02-27 19:52:09,402 INFO sqlalchemy.engine.Engine insert into availability values(%s,%s,%s,%s)
2023-02-27 19:52:09,403 INFO sqlalchemy.engine.Engine [raw sql] (75, 0, 40, 1677527163000)
2023-02-27 19:52:09,422 INFO sqlalchemy.engine.Engine COMMIT
{'number': 507, 'contract_name': 'dublin', 'name': 'ORIEL STREET TEST TERMINAL', 'address': 'JCDecaux Ireland, 52 Oriel Street Lower, Dublin 1', 'position': {'lat': 53.35463, 'lng': -6.242615}, 'banking': False, 'bonus': False, 'bike_stands': 1, 'available_bike_stands': 0, 'available_bikes': 1, 'status': 'OPEN', 'last_update': 1675786128000}
2023-02-27 19:52:09,464 INFO sqlalchemy.engine.Engine insert into availability values(%s,%s,%s,%s)
2023-02-27 19:52:09,466 INFO sqlalchemy.engine.Engine [raw sql] (507, 1, 0, 1675786128000)
2023-02-27 19:52:09,488 INFO sqlalchemy.engine.Engine COMMIT
{'number': 111, 'contract_name': 'dublin', 'name': 'MOUNTJOY SQUARE EAST', 'address': 'Mountjoy Square East', 'position': {'lat': 53.356717, 'lng': -6.256359}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 34, 'available_bikes': 6, 'status': 'OPEN', 'last_update': 1677527028000}
2023-02-27 19:52:09,528 INFO sqlalchemy.engine.Engine insert into availability values(%s,%s,%s,%s)
2023-02-27 19:52:09,530 INFO sqlalchemy.engine.Engine [raw sql] (111, 6, 34, 1677527028000)
2023-02-27 19:52:09,547 INFO sqlalchemy.engine.Engine COMMIT
{'number': 26, 'contract_name': 'dublin', 'name': 'MERRION SQUARE WEST', 'address': 'Merrion Square West', 'position': {'lat': 53.339764, 'lng': -6.251988}, 'banking': True, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 3, 'available_bikes': 17, 'status': 'OPEN', 'last_update': 1677527441000}
2023-02-27 19:52:09,592 INFO sqlalchemy.engine.Engine insert into availability values(%s,%s,%s,%s)
2023-02-27 19:52:09,594 INFO sqlalchemy.engine.Engine [raw sql] (26, 17, 3, 1677527441000)
2023-02-27 19:52:09,618 INFO sqlalchemy.engine.Engine COMMIT
{'number': 65, 'contract_name': 'dublin', 'name': 'CONVENTION CENTRE', 'address': 'Convention Centre', 'position': {'lat': 53.34744, 'lng': -6.238523}, 'banking': True, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 40, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1677526989000}
2023-02-27 19:52:09,655 INFO sqlalchemy.engine.Engine insert into availability values(%s,%s,%s,%s)
2023-02-27 19:52:09,657 INFO sqlalchemy.engine.Engine [raw sql] (65, 0, 40, 1677526989000)
2023-02-27 19:52:09,673 INFO sqlalchemy.engine.Engine COMMIT
{'number': 15, 'contract_name': 'dublin', 'name': 'HARDWICKE STREET', 'address': 'Hardwicke Street', 'position': {'lat': 53.355473, 'lng': -6.264423}, 'banking': False, 'bonus': False, 'bike_stands': 16, 'available_bike_stands': 5, 'available_bikes': 8, 'status': 'OPEN', 'last_update': 1677527486000}
2023-02-27 19:52:09,728 INFO sqlalchemy.engine.Engine insert into availability values(%s,%s,%s,%s)
2023-02-27 19:52:09,729 INFO sqlalchemy.engine.Engine [raw sql] (15, 8, 5, 1677527486000)
2023-02-27 19:52:09,747 INFO sqlalchemy.engine.Engine COMMIT
{'number': 86, 'contract_name': 'dublin', 'name': 'PARKGATE STREET', 'address': 'Parkgate Street', 'position': {'lat': 53.347972, 'lng': -6.291804}, 'banking': False, 'bonus': False, 'bike_stands': 38, 'available_bike_stands': 28, 'available_bikes': 10, 'status': 'OPEN', 'last_update': 1677527261000}
2023-02-27 19:52:09,792 INFO sqlalchemy.engine.Engine insert into availability values(%s,%s,%s,%s)

2023-02-27 19:52:09,793 INFO sqlalchemy.engine.Engine [raw sql] (86, 10, 28, 1677527261000)
2023-02-27 19:52:09,812 INFO sqlalchemy.engine.Engine COMMIT
{'number': 35, 'contract_name': 'dublin', 'name': 'SMITHFIELD', 'address': 'Smithfield', 'position': {'lat': 53.347692, 'lng': -6.278214}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 8, 'available_bikes': 21, 'status': 'OPEN', 'last_update': 1677527422000}
2023-02-27 19:52:09,850 INFO sqlalchemy.engine.Engine insert into availability values(%s,%s,%s,%s)
2023-02-27 19:52:09,851 INFO sqlalchemy.engine.Engine [raw sql] (35, 21, 8, 1677527422000)
2023-02-27 19:52:09,877 INFO sqlalchemy.engine.Engine COMMIT
{'number': 10, 'contract_name': 'dublin', 'name': 'DAME STREET', 'address': 'Dame Street', 'position': {'lat': 53.344007, 'lng': -6.266802}, 'banking': True, 'bonus': False, 'bike_stands': 16, 'available_bike_stands': 1, 'available_bikes': 15, 'status': 'OPEN', 'last_update': 1677526989000}
2023-02-27 19:52:09,925 INFO sqlalchemy.engine.Engine insert into availability values(%s,%s,%s,%s)
2023-02-27 19:52:09,927 INFO sqlalchemy.engine.Engine [raw sql] (10, 15, 1, 1677526989000)
2023-02-27 19:52:09,944 INFO sqlalchemy.engine.Engine COMMIT
{'number': 100, 'contract_name': 'dublin', 'name': 'HEUSTON BRIDGE (SOUTH)', 'address': 'Heuston Bridge (South)', 'position': {'lat': 53.347106, 'lng': -6.292041}, 'banking': False, 'bonus': False, 'bike_stands': 25, 'available_bike_stands': 1, 'available_bikes': 24, 'status': 'OPEN', 'last_update': 1677527244000}
2023-02-27 19:52:09,990 INFO sqlalchemy.engine.Engine insert into availability values(%s,%s,%s,%s)
2023-02-27 19:52:09,991 INFO sqlalchemy.engine.Engine [raw sql] (100, 24, 1, 1677527244000)
2023-02-27 19:52:10,010 INFO sqlalchemy.engine.Engine COMMIT
{'number': 24, 'contract_name': 'dublin', 'name': 'CATHAL BRUGHA STREET', 'address': 'Cathal Brugha Street', 'position': {'lat': 53.352149, 'lng': -6.260533}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 17, 'available_bikes': 3, 'status': 'OPEN', 'last_update': 1677527378000}
2023-02-27 19:52:10,050 INFO sqlalchemy.engine.Engine insert into availability values(%s,%s,%s,%s)
2023-02-27 19:52:10,051 INFO sqlalchemy.engine.Engine [raw sql] (24, 3, 17, 1677527378000)
2023-02-27 19:52:10,071 INFO sqlalchemy.engine.Engine COMMIT
{'number': 64, 'contract_name': 'dublin', 'name': 'SANDWITH STREET', 'address': 'Sandwith Street', 'position': {'lat': 53.345203, 'lng': -6.247163}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 17, 'available_bikes': 23, 'status': 'OPEN', 'last_update': 1677527139000}
2023-02-27 19:52:10,111 INFO sqlalchemy.engine.Engine insert into availability values(%s,%s,%s,%s)
2023-02-27 19:52:10,113 INFO sqlalchemy.engine.Engine [raw sql] (64, 23, 17, 1677527139000)
2023-02-27 19:52:10,131 INFO sqlalchemy.engine.Engine COMMIT
{'number': 109, 'contract_name': 'dublin', 'name': 'BUCKINGHAM STREET LOWER', 'address': 'Buckingham Street Lower', 'position': {'lat': 53.353331, 'lng': -6.249319}, 'banking': False, 'bonus': False, 'bike_stands': 29, 'available_bike_stands': 19, 'available_bikes': 10, 'status': 'OPEN', 'last_update': 1677526960000}
2023-02-27 19:52:10,182 INFO sqlalchemy.engine.Engine insert into availability values(%s,%s,%s,%s)
2023-02-27 19:52:10,183 INFO sqlalchemy.engine.Engine [raw sql] (109, 10, 19, 1677526960000)
2023-02-27 19:52:10,201 INFO sqlalchemy.engine.Engine COMMIT
{'number': 85, 'contract_name': 'dublin', 'name': 'ROTHE ABBEY', 'address': 'Rothe Abbey', 'position': {'lat': 53.338776, 'lng': -6.30395}, 'banking': False, 'bonus': False, 'bike_stands': 35, 'available_bike_stands': 23, 'available_bikes': 12, 'status': 'OPEN', 'last_update': 1677527276000}
2023-02-27 19:52:10,242 INFO sqlalchemy.engine.Engine insert into availability values(%s,%s,%s,%s)
2023-02-27 19:52:10,244 INFO sqlalchemy.engine.Engine [raw sql] (85, 12, 23, 1677527276000)
2023-02-27 19:52:10,265 INFO sqlalchemy.engine.Engine COMMIT
{'number': 107, 'contract_name': 'dublin', 'name': 'CHARLEVILLE ROAD', 'address': 'Charleville Road', 'position': {'lat': 53.359157, 'lng': -6.281866}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 29, 'available_bikes': 11, 'status': 'OPEN', 'last_update': 1677526910000}
2023-02-27 19:52:10,317 INFO sqlalchemy.engine.Engine insert into availability values(%s,%s,%s,%s)
2023-02-27 19:52:10,319 INFO sqlalchemy.engine.Engine [raw sql] (107, 11, 29, 1677526910000)
2023-02-27 19:52:10,344 INFO sqlalchemy.engine.Engine COMMIT
{'number': 33, 'contract_name': 'dublin', 'name': "PRINCES STREET / O'CONNELL STREET", 'address': "Princes Street / O'Connell Street", 'position': {'lat': 53.349013, 'lng': -6.260311}, 'banking': True, 'bonus': False, 'bike_stands': 23, 'available_bike_stands': 1, 'available_bikes': 22, 'status': 'OPEN', 'last_update': 1677527323000}
2023-02-27 19:52:10,389 INFO sqlalchemy.engine.Engine insert into availability values(%s,%s,%s,%s)
2023-02-27 19:52:10,390 INFO sqlalchemy.engine.Engine [raw sql] (33, 22, 1, 1677527323000)
2023-02-27 19:52:10,410 INFO sqlalchemy.engine.Engine COMMIT
{'number': 44, 'contract_name': 'dublin', 'name': 'UPPER SHERRARD STREET', 'address': 'Upper Sherrard Street', 'position': {'lat': 53.358437, 'lng': -6.260641}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 15, 'available_bikes': 15, 'status': 'OPEN', 'last_update': 1677527263000}
2023-02-27 19:52:10,453 INFO sqlalchemy.engine.Engine insert into availability values(%s,%s,%s,%s)
2023-02-27 19:52:10,455 INFO sqlalchemy.engine.Engine [raw sql] (44, 15, 15, 1677527263000)
2023-02-27 19:52:10,471 INFO sqlalchemy.engine.Engine COMMIT
{'number': 89, 'contract_name': 'dublin', 'name': 'FITZWILLIAM SQUARE EAST', 'address': 'Fitzwilliam Square East', 'position': {'lat': 53.335211, 'lng': -6.2509}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 27, 'available_bikes': 13, 'status': 'OPEN', 'last_update': 1677527142000}
2023-02-27 19:52:10,517 INFO sqlalchemy.engine.Engine insert into availability values(%s,%s,%s,%s)
2023-02-27 19:52:10,518 INFO sqlalchemy.engine.Engine [raw sql] (89, 13, 27, 1677527142000)
2023-02-27 19:52:10,538 INFO sqlalchemy.engine.Engine COMMIT
{'number': 57, 'contract_name': 'dublin', 'name': 'GRATTAN STREET', 'address': 'Grattan Street', 'position': {'lat': 53.339629, 'lng': -6.243778}, 'banking': False, 'bonus': False, 'bike_stands': 23, 'available_bike_stands': 9, 'available_bikes': 14, 'status': 'OPEN', 'last_update': 1677527091000}
2023-02-27 19:52:10,576 INFO sqlalchemy.engine.Engine insert into availability values(%s,%s,%s,%s)
2023-02-27 19:52:10,577 INFO sqlalchemy.engine.Engine [raw sql] (57, 14, 9, 1677527091000)
2023-02-27 19:52:10,594 INFO sqlalchemy.engine.Engine COMMIT
{'number': 80, 'contract_name': 'dublin', 'name': 'ST JAMES HOSPITAL (LUAS)', 'address': 'St James Hospital (Luas)', 'position': {'lat': 53.341359, 'lng': -6.292951}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 27, 'available_bikes': 13, 'status': 'OPEN', 'last_update': 1677527370000}
2023-02-27 19:52:10,633 INFO sqlalchemy.engine.Engine insert into availability values(%s,%s,%s,%s)
2023-02-27 19:52:10,634 INFO sqlalchemy.engine.Engine [raw sql] (80, 13, 27, 1677527370000)
2023-02-27 19:52:10,653 INFO sqlalchemy.engine.Engine COMMIT
{'number': 41, 'contract_name': 'dublin', 'name': 'HARCOURT TERRACE', 'address': 'Harcourt Terrace', 'position': {'lat': 53.332763, 'lng': -6.257942}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 10, 'available_bikes': 10, 'status': 'OPEN', 'last_update': 1677527256000}
2023-02-27 19:52:10,695 INFO sqlalchemy.engine.Engine insert into availability values(%s,%s,%s,%s)
2023-02-27 19:52:10,696 INFO sqlalchemy.engine.Engine [raw sql] (41, 10, 10, 1677527256000)
2023-02-27 19:52:10,717 INFO sqlalchemy.engine.Engine COMMIT
{'number': 3, 'contract_name': 'dublin', 'name': 'BOLTON STREET', 'address': 'Bolton Street', 'position': {'lat': 53.351182, 'lng': -6.269859}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 14, 'available_bikes': 6, 'status': 'OPEN', 'last_update': 1677527007000}
2023-02-27 19:52:10,760 INFO sqlalchemy.engine.Engine insert into availability values(%s,%s,%s,%s)

2023-02-27 19:52:10,761 INFO sqlalchemy.engine.Engine [raw sql] (3, 6, 14, 1677527007000)
2023-02-27 19:52:10,781 INFO sqlalchemy.engine.Engine COMMIT
{'number': 40, 'contract_name': 'dublin', 'name': 'JERVIS STREET', 'address': 'Jervis Street', 'position': {'lat': 53.3483, 'lng': -6.266651}, 'banking': False, 'bonus': False, 'bike_stands': 21, 'available_bike_stands': 17, 'available_bikes': 3, 'status': 'OPEN', 'last_update': 1677527140000}
2023-02-27 19:52:10,820 INFO sqlalchemy.engine.Engine insert into availability values(%s,%s,%s,%s)
2023-02-27 19:52:10,820 INFO sqlalchemy.engine.Engine [raw sql] (40, 3, 17, 1677527140000)
2023-02-27 19:52:10,842 INFO sqlalchemy.engine.Engine COMMIT
{'number': 29, 'contract_name': 'dublin', 'name': 'ORMOND QUAY UPPER', 'address': 'Ormond Quay Upper', 'position': {'lat': 53.346057, 'lng': -6.268001}, 'banking': False, 'bonus': False, 'bike_stands': 29, 'available_bike_stands': 14, 'available_bikes': 15, 'status': 'OPEN', 'last_update': 1677527038000}
2023-02-27 19:52:10,886 INFO sqlalchemy.engine.Engine insert into availability values(%s,%s,%s,%s)
2023-02-27 19:52:10,886 INFO sqlalchemy.engine.Engine [raw sql] (29, 15, 14, 1677527038000)
2023-02-27 19:52:10,904 INFO sqlalchemy.engine.Engine COMMIT
{'number': 103, 'contract_name': 'dublin', 'name': 'GRANGEGORMAN LOWER (SOUTH)', 'address': 'Grangegorman Lower (South)', 'position': {'lat': 53.354663, 'lng': -6.278681}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 23, 'available_bikes': 17, 'status': 'OPEN', 'last_update': 1677527146000}
2023-02-27 19:52:10,950 INFO sqlalchemy.engine.Engine insert into availability values(%s,%s,%s,%s)
2023-02-27 19:52:10,951 INFO sqlalchemy.engine.Engine [raw sql] (103, 17, 23, 1677527146000)
2023-02-27 19:52:10,968 INFO sqlalchemy.engine.Engine COMMIT
{'number': 28, 'contract_name': 'dublin', 'name': 'MOUNTJOY SQUARE WEST', 'address': 'Mountjoy Square West', 'position': {'lat': 53.356299, 'lng': -6.258586}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 26, 'available_bikes': 4, 'status': 'OPEN', 'last_update': 1677527019000}
2023-02-27 19:52:11,013 INFO sqlalchemy.engine.Engine insert into availability values(%s,%s,%s,%s)
2023-02-27 19:52:11,014 INFO sqlalchemy.engine.Engine [raw sql] (28, 4, 26, 1677527019000)
2023-02-27 19:52:11,033 INFO sqlalchemy.engine.Engine COMMIT
{'number': 39, 'contract_name': 'dublin', 'name': 'WILTON TERRACE', 'address': 'Wilton Terrace', 'position': {'lat': 53.332383, 'lng': -6.252717}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 12, 'available_bikes': 8, 'status': 'OPEN', 'last_update': 1677527316000}
2023-02-27 19:52:11,075 INFO sqlalchemy.engine.Engine insert into availability values(%s,%s,%s,%s)
2023-02-27 19:52:11,077 INFO sqlalchemy.engine.Engine [raw sql] (39, 8, 12, 1677527316000)
2023-02-27 19:52:11,095 INFO sqlalchemy.engine.Engine COMMIT
{'number': 83, 'contract_name': 'dublin', 'name': 'EMMET ROAD', 'address': 'Emmet Road', 'position': {'lat': 53.340714, 'lng': -6.308191}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 15, 'available_bikes': 25, 'status': 'OPEN', 'last_update': 1677527418000}
2023-02-27 19:52:11,142 INFO sqlalchemy.engine.Engine insert into availability values(%s,%s,%s,%s)
2023-02-27 19:52:11,144 INFO sqlalchemy.engine.Engine [raw sql] (83, 25, 15, 1677527418000)
2023-02-27 19:52:11,161 INFO sqlalchemy.engine.Engine COMMIT
{'number': 92, 'contract_name': 'dublin', 'name': 'HEUSTON BRIDGE (NORTH)', 'address': 'Heuston Bridge (North)', 'position': {'lat': 53.347802, 'lng': -6.292432}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 6, 'available_bikes': 33, 'status': 'OPEN', 'last_update': 1677527315000}
2023-02-27 19:52:11,204 INFO sqlalchemy.engine.Engine insert into availability values(%s,%s,%s,%s)
2023-02-27 19:52:11,206 INFO sqlalchemy.engine.Engine [raw sql] (92, 33, 6, 1677527315000)
2023-02-27 19:52:11,222 INFO sqlalchemy.engine.Engine COMMIT
{'number': 21, 'contract_name': 'dublin', 'name': 'LEINSTER STREET SOUTH', 'address': 'Leinster Street South', 'position': {'lat': 53.34218, 'lng': -6.254485}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 17, 'available_bikes': 13, 'status': 'OPEN', 'last_update': 1677527462000}
2023-02-27 19:52:11,265 INFO sqlalchemy.engine.Engine insert into availability values(%s,%s,%s,%s)
2023-02-27 19:52:11,266 INFO sqlalchemy.engine.Engine [raw sql] (21, 13, 17, 1677527462000)
2023-02-27 19:52:11,284 INFO sqlalchemy.engine.Engine COMMIT
{'number': 88, 'contract_name': 'dublin', 'name': 'BLACKHALL PLACE', 'address': 'Blackhall Place', 'position': {'lat': 53.3488, 'lng': -6.281637}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 5, 'available_bikes': 25, 'status': 'OPEN', 'last_update': 1677527092000}
2023-02-27 19:52:11,334 INFO sqlalchemy.engine.Engine insert into availability values(%s,%s,%s,%s)
2023-02-27 19:52:11,335 INFO sqlalchemy.engine.Engine [raw sql] (88, 25, 5, 1677527092000)
2023-02-27 19:52:11,351 INFO sqlalchemy.engine.Engine COMMIT

In [15]:
import pandas as pd

df = pd.read_sql_table("station", engine)

2023-02-27 19:52:12,233 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %s AND table_name = %s
2023-02-27 19:52:12,234 INFO sqlalchemy.engine.Engine [cached since 21.2s ago] ('dbbikes', 'station')
2023-02-27 19:52:12,313 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `station`
2023-02-27 19:52:12,314 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-02-27 19:52:12,352 INFO sqlalchemy.engine.Engine SELECT station.address, station.banking, station.bike_stand, station.bonus, station.contract_name, station.name, station.number, station.position_lat, station.position_lgt, station.status
FROM station
2023-02-27 19:52:12,353 INFO sqlalchemy.engine.Engine [generated in 0.00153s] ()

In [16]:
display(df.head())

,address,banking,bike_stand,bonus,contract_name,name,number,position_lat,position_lgt,status
0,Smithfield North,0,None,0,dublin,SMITHFIELD NORTH,42,53.349562,NaN,OPEN
1,Parnell Square North,0,None,0,dublin,PARNELL SQUARE NORTH,30,53.353742,NaN,OPEN
2,Clonmel Street,0,None,0,dublin,CLONMEL STREET,54,53.336021,NaN,OPEN
3,Avondale Road,0,None,0,dublin,AVONDALE ROAD,108,53.359405,NaN,OPEN
4,James Street East,0,None,0,dublin,JAMES STREET EAST,20,53.336597,NaN,OPEN

In [17]:
sql = "select count(*) from station;"
print(engine.execute(sql).fetchall())

2023-02-27 19:52:12,427 INFO sqlalchemy.engine.Engine select count(*) from station;
2023-02-27 19:52:12,428 INFO sqlalchemy.engine.Engine [raw sql] ()
[(114,)]

In [18]:
sql = "select name from station limit 10;"
for row in engine.execute(sql):
    print(row)

2023-02-27 19:52:12,486 INFO sqlalchemy.engine.Engine select name from station limit 10;
2023-02-27 19:52:12,488 INFO sqlalchemy.engine.Engine [raw sql] ()
('SMITHFIELD NORTH',)
('PARNELL SQUARE NORTH',)
('CLONMEL STREET',)
('AVONDALE ROAD',)
('JAMES STREET EAST',)
('MOUNT STREET LOWER',)
('CHRISTCHURCH PLACE',)
('GRANTHAM STREET',)
('PEARSE STREET',)
('YORK STREET EAST',)

In [19]:
sql = """
select * from
(select available_bike_stands, available_bikes, number from availability 
 where available_bikes > 0 GROUP BY number) a1
 
 JOIN
 (select name, number from station) a2
ON a1.number = a2.number limit 10;
"""

for row in engine.execute(sql):
    print(row)

2023-02-27 19:52:12,525 INFO sqlalchemy.engine.Engine
select * from
(select available_bike_stands, available_bikes, number from availability
 where available_bikes > 0 GROUP BY number) a1

 JOIN
 (select name, number from station) a2
ON a1.number = a2.number limit 10;

2023-02-27 19:52:12,527 INFO sqlalchemy.engine.Engine [raw sql] ()
(0, 11, 30, 'PARNELL SQUARE NORTH', 30)
(15, 108, 20, 'JAMES STREET EAST', 20)
(24, 23, 6, 'CHRISTCHURCH PLACE', 6)
(12, 8, 18, 'GRANTHAM STREET', 18)
(1, 54, 32, 'PEARSE STREET', 32)
(18, 1, 13, 'FITZWILLIAM SQUARE WEST', 13)
(9, 113, 31, 'PARNELL STREET', 31)
(26, 48, 14, 'FOWNES STREET UPPER', 14)
(15, 10, 1, 'CLARENDON ROW', 1)
(17, 106, 23, 'CUSTOM HOUSE', 23)